[2020-02-22 03:40] flybayer opened #1 "Add Alexjs to lint out inconsiderate or offensive words"
The react-native docs added this awhile back. We should use it right out of the gate.

https://alexjs.com

[2020-02-25 04:46] robdrosenberg opened #2 "Add Blitzjs to docusaurus v2 showcase"
Once branding is complete and the website is up and running, add the blitzjs logo to the showcase page for docusaurus v2.

add the logo file here: https://github.com/facebook/docusaurus/tree/master/website/src/data/showcase
add a record in this file in alphabetical order: https://github.com/facebook/docusaurus/blob/master/website/src/data/users.js

[2020-02-25 06:07] jasonblalock opened #4 "Initial bootstrap of docusaurus v2"
- Setup initial docusaurus v2 code base

[2020-02-25 06:09] jasonblalock opened #5 "Setup pages"
- [x] Homepage
- [x] Vision/philosophy page
- [x] Blog
- [x] Versioned docs

[2020-02-25 06:10] jasonblalock opened #6 "Add styling and theming"
- [ ] Theme-UI for styling and theming
- [ ] Dark mode (might be a no-op if built into docusaurus)

[2020-02-25 06:10] jasonblalock opened #7 "Add code of conduct and license"

[2020-02-25 07:28] jasonblalock opened #9 "Add initial Github actions for CI"
- Setup Github actions to build on pull request for master and push to master

[2020-02-25 07:36] jasonblalock opened #10 "Update website to match branding/designs"
- Update website to match final designs and branding

[2020-02-25 07:37] jasonblalock opened #11 "Create preliminary layout designs for website"

[2020-02-25 07:38] jasonblalock opened #12 "Create branding"
- Branding is graciously being done by an amazing brand designer

[2020-02-25 07:41] jasonblalock opened #13 "Finalize design with branding"
- Finalize aesthetics, adjust the theme, etc to include branding

[2020-02-25 07:45] jasonblalock opened #14 "Setup deploy job"
- Determine how deploys will be handled
- Setup deploy job in Github actions to implement the deploy process

[2020-02-25 08:10] jasonblalock opened #15 "Testing silenced slack integration"

[2020-02-25 08:14] jasonblalock commented on #15
Success!

[2020-02-25 08:14] #15 closed

[2020-02-25 17:18] robdrosenberg opened #16 "Add Algolia to Docusaurus"
Setup the algolia docusaurus integration once some initial documentation is in place and we meet the requirements outlined in DocSearch's checklist.

[Link to DocSearch site](https://docsearch.algolia.com/)
[Link to Checklist](https://docsearch.algolia.com/docs/who-can-apply/)

- [ ] Apply to DocSearch
- [ ] Integrate DocSearch into Docusaurus once application is approved

[2020-02-25 19:02] flybayer commented on #14
I just set up auto deploys via zeit now

[2020-02-25 19:02] #14 closed

[2020-02-25 19:03] flybayer commented on #9
I set up auto deploy via zeit now. Won't need any tests, at least for now, so don't need github actions

[2020-02-25 19:03] #9 closed

[2020-02-25 19:04] flybayer commented on #4
Dones via #3

[2020-02-25 19:04] #4 closed

[2020-02-26 18:41] #1 closed

[2020-02-26 18:43] flybayer opened #19 "Set up a Github action to run `yarn lint`"
- [ ] Set up a github action to run `yarn lint` on this repo

[2020-02-26 18:54] jasonblalock commented on #9
@flybayer I'd like to reopen/repurpose or create a new issue around this. I think we should be running our linting/prettifying as part of our CI. It's great that we're using husky, but our CI is the last place to verify/ensure that linting has been run to prevent inconsistencies and alexjs related issues from reaching our site. It's how react/react-native docs run their CI as well. Thoughts?

Sepa

[2020-02-26 19:01] #7 closed

[2020-02-26 19:05] flybayer commented on #9
@jasonblalock yes, I forgot about linting when I closed this :)

I already opened #19 and assigned to Micheal — he's my devops master. I'm sure you'd do great, but I'd rather Micheal do all the devops so everything is consistent across repos, etc.

[2020-02-26 19:19] #5 closed

[2020-02-27 06:37] jasonblalock opened #20 "Translations Placeholder"
As we begin to flesh out our docs we want to be able to support as many translations as we can. And we can't do this without the help of the Blitz community. While it's still a little down the road, the tentative plan is to follow a similar implementation as the react docs. We've already had a number of folks volunteering to help out translating for various languages!

For now, I'm going to use th

[2020-02-27 07:40] emeraldsanto commented on #20
What a nice team this is! Thanks for keeping a list, although I think you might've included me in the russian category by mistake :wink:

I could take a crack at doing german translations too but I'm a bit rusty and would probably need a second opinion on certain things.

[2020-02-27 08:15] jasonblalock commented on #20
@emeraldsanto Darn it, fixed!

Awesome, I put you under German too. And no worries, every bit helps. Once we get going we'll be able to collaborate on making sure we're getting things right in the PRs.

[2020-02-27 18:13] lrosa007 commented on #20
I’m Lucas Rosa. Feel free to associate my github handle

[2020-02-27 18:20] flybayer commented on #20
Awesome @jasonblalock, thank you for organizing this!

[2020-04-13 07:12] flybayer opened #21 "Document the RPC specification"
We need to officially document the RPC specification. Most users won't need to know about this, but it is needed for advanced use cases.

Specification is described here: https://github.com/blitz-js/blitz/issues/85

[2020-04-17 04:25] #12 closed

[2020-04-17 20:29] jasonblalock commented on #19
@flybayer I see you've unassigned Michael and now opened it up for everyone. Out of curiosity, any reason you didn't just reopen #9 and merge it?

[2020-04-18 03:29] flybayer commented on #19
@jasonblalock ah, I'm so sorry! I totally forgot about that issue and your comment in it. Looks like you added a github action on a branch but never opened a PR for it? (https://github.com/blitz-js/blitzjs.com/compare/github-actions)

If you update that to also run the linter, then we can definitely go ahead and use yours. ❤️

[2020-04-19 20:13] robdrosenberg opened #23 "Website Design"
Kristina Matuska will be working on the website design

### Proposed Site pages / Content
- Home Page
- Docs -> Guides | Tutorials | API
- Showcase
- About -> Community | Sponsors
- Blog
- Releases
- FAQ

### Design Phases
**Stage 1**: Start off with a detailed wire frame of the home page
**Stage 2**: Build out the content architecture / wireframes for the other pages with less detail than home pa

[2020-04-19 20:26] robdrosenberg opened #24 "Initial Blitz cli commands"
Create alpha documentation for getting blitz up and running locally and cli commands.

- [ ] Highlight blitz cli commands
- [ ] Initial Blitz project setup

[2020-04-19 20:29] robdrosenberg opened #25 "Update site branding"
- [x] Add new favicon
- [x] Logo
- [x] Colors
- [x] Fonts

[2020-04-19 20:37] robdrosenberg opened #26 "Update Socials"
- Slack
- [Twitter](https://twitter.com/blitz_js)
- Open Collective
- Github

[2020-04-19 20:40] robdrosenberg opened #27 "Update footer (assigned to Ivan)"
Setup footer to accommodate current status of Blitz

- [x] Remove stack overflow link
- [x] Add slack community link
- [x] Update copyright
- [x] Remove blog

[2020-04-19 20:47] robdrosenberg opened #28 "Create new light and Dark themes"
Need to update theme switcher with new brand colors

- [ ] Using Theme UI, create new themes for light and dark mode.
- [ ] Make sure font colors are ADA compliant

[2020-04-19 20:59] robdrosenberg opened #29 "Add Contributor documentation"
Add these documents to docusarus and set up buttons to link to them on the home page.
- [x] Contributing guide
- [x] Code of Conduct
- [x] Manifesto

[2020-04-19 21:07] robdrosenberg opened #30 "Alpha Home Page"
This is a basic home page to help with the alpha release of Blitzjs

We want to display a little info on Blitz when you land on Blitzjs.com and some help links to getting started with the project.

- [x] Add Brandon's Blitz demo video
- [ ] Remove Features section on home page

- [ ] Mailing List form / link out to Original Mailchimp site

- [ ] Some initial Blitzjs Copy, Use below for inspiration

[2020-04-19 21:09] robdrosenberg opened #31 "Email Subscribe Form"
Create and link mailchimp form on home page.

If we can't complete in time for alpha release, we can just link out to @flybayer original mailchimp landing page.

[2020-04-19 21:12] robdrosenberg opened #32 "Create Video Component"
Create a video component for the home page and add @flybayer demo video

Some video library options:
[react-player](https://github.com/CookPete/react-player)
[video-react](https://video-react.js.org/)

[2020-04-19 21:14] robdrosenberg opened #33 "Update Nav bar (Assigned to Ivan)"
- [x] Remove blog link
- [ ] Update vision link for Blitz Manifesto
- [ ] Update github link

[2020-04-19 21:17] robdrosenberg commented on #27
Assigned to @IvanB475

@flybayer Could you please add Ivan as a contributor!

[2020-04-19 21:17] robdrosenberg commented on #33
Assigned to @IvanB475

[2020-04-19 21:23] robdrosenberg commented on #31
Feel free to pick this up if it's an issue you think you can handle! If not I'll take it on later in the week.

@flybayer We might need your help here to link up your mail chimp account to this properly.

[2020-04-20 02:19] flybayer commented on #24
I have an alpha guide here with everything needed for the alpha (I think): https://github.com/blitz-js/blitz/pull/131

So that's a good starting point for this issue.

[2020-04-20 02:21] flybayer commented on #26
All of these are already done, I think!

[2020-04-20 02:23] coreybrown89 commented on #24
@flybayer thanks - this is super helpful.

[2020-04-20 02:26] flybayer commented on #27
@robdrosenberg @IvanB475 done!

[2020-04-20 03:11] robdrosenberg opened #36 "Blitz Showcase"
Add a showcase page or section to the site to show off apps and businesses using Blitz

[2020-04-20 04:41] flybayer commented on #29
Fyi, I just updated the manifesto in the main repo

[2020-04-20 04:42] flybayer commented on #30
I've just updated the main repo README with content that'd be good for the website too.

[2020-04-20 14:27] #29 closed

[2020-04-21 03:44] #19 closed

[2020-04-22 12:54] osirvent commented on #20
I'm Oscar and I can help with Spanish translations.

[2020-04-22 22:15] MrLeebo commented on #21
I've opened up a PR to initiate this.

[2020-04-23 06:08] #24 closed

[2020-04-25 18:47] Mozart409 commented on #20
Hi, I'm Amadeus and I can help with the German translations.

[2020-04-26 22:48] jasonblalock commented on #25
@flybayer @robdrosenberg @coreybrown89

I wanted to raise issues I've found so we can decide how we want to move forward. These comments will also relate to #28

I'm finding some deficiencies with Infima, the built in design system that comes with Docusaurus. The big one being it's completely undocumented. It's considered not ready for production and is being built specifically for v2 docusaurus (

[2020-04-26 23:15] robdrosenberg commented on #25
@jasonblalock

My votes for moving forward with out inferma for the time being. If it becomes a pain point later one when it's further developed maybe we can consider moving over to it? How hard would it be to move away from it now?

I agree we need to decide on a CSS solution ASAP. I'm most familiar with CSS in JS with emotion or styled components. I'd like to use one of these on the video player

[2020-04-27 10:16] flybayer commented on #25
- The `i` in the logo is customized by Kristina — you won't find it anywhere else!
- I don't care too much what y'all use for CSS, but my recommendation would be Theme UI. It has built in support for MDX: https://theme-ui.com/mdx-components
- Here's the brand summary with fonts:
<img width="1067" alt="Blitz-branding (1)" src="https://user-images.githubusercontent.com/8813276/80361205-bf171400-88aa

[2020-04-27 10:54] LoriKarikari commented on #20
I can help with Dutch.

[2020-04-27 11:21] TECHMAUS commented on #20
Same for me, I can help with Dutch as well!

[2020-04-27 19:32] Kosai106 commented on #16
Taken care of 😎 https://github.com/blitz-js/blitzjs.com/pull/43

[2020-04-27 19:34] #16 closed

[2020-04-28 02:55] robdrosenberg opened #44 "Sync blitz repo docs with Website Docs"
Some of the documentation inside the main blitz repo has been updated. We'll want to make sure we update to the latest before launching the site.

*This should be one of the last steps before go live*

[2020-04-28 19:42] mgm1313 commented on #26
Open Collective is not yet shown on the site. Should that one be added to the footer as well?

[2020-04-30 06:20] flybayer commented on #20
@robdrosenberg can you make sure the original post gets updated periodically to include the new folks who post here?

[2020-04-30 06:24] reiwa commented on #20
Hi, I'm Japanese, l can help with Japanese.

[2020-04-30 08:12] flybayer commented on #26
@mgm1313, yes let's add that

[2020-04-30 15:38] #21 closed

[2020-05-02 05:39] pfortes commented on #20
Hey!, i could help with spanish.

[2020-05-02 05:57] simonpeterdebbarma commented on #33
Closed this Issue as task is completed in https://github.com/blitz-js/blitzjs.com/pull/39

[2020-05-02 05:57] #33 closed

[2020-05-02 06:32] simonpeterdebbarma commented on #27
Closed in https://github.com/blitz-js/blitzjs.com/pull/39

[2020-05-02 06:32] #27 closed

[2020-05-02 06:39] simonpeterdebbarma commented on #26
Closed in https://github.com/blitz-js/blitzjs.com/pull/39

[2020-05-02 06:39] #26 closed

[2020-05-02 06:45] simonpeterdebbarma commented on #13
Should this issue be closed @jasonblalock ?

[2020-05-02 06:46] simonpeterdebbarma commented on #11
Pretty sure we are past this. Closing this for now.

[2020-05-02 06:46] #11 closed

[2020-05-02 06:47] simonpeterdebbarma commented on #2
@robdrosenberg Pretty sure this can be closed so I'm gonna go ahead and do that.

[2020-05-02 06:48] simonpeterdebbarma commented on #6
Closed as this is an old issue.

[2020-05-02 06:49] simonpeterdebbarma commented on #10
@jasonblalock Is this open for contributions?

[2020-05-02 06:51] simonpeterdebbarma commented on #23
Is this 'In Progress' or 'Done'?

[2020-05-02 06:57] flybayer commented on #2
@simonpeterdebbarma this isn't done until Blitz is listed in the below file :)

https://github.com/facebook/docusaurus/blob/master/website/src/data/users.js

[2020-05-02 06:58] flybayer commented on #6
I don't think this is done yet

[2020-05-02 06:59] simonpeterdebbarma commented on #6
Sorry about that. Reopening.

[2020-05-02 07:06] simonpeterdebbarma commented on #6
Similar Issues: https://github.com/blitz-js/blitzjs.com/issues/25 and https://github.com/blitz-js/blitzjs.com/issues/28

[2020-05-02 12:38] PeterWolfframm commented on #20
Hey there! If the two German translators would need help from a third one, I'd be up for it (I could also do an Austrian version, theoretically ^^)!

[2020-05-02 14:04] simonpeterdebbarma commented on #2
Thanks for the information @flybayer. I'll make sure I ask every time before closing any Issues in the future.

[2020-05-03 18:12] Shinyaigeek commented on #20
Hi! I can help with Japanese!

[2020-05-04 15:44] Uneetpatel7 commented on #36
I would like to work on this

[2020-05-04 16:07] robdrosenberg commented on #36
Hi @Uneetpatel7, We'd love to have your help on this. We have to wait until the design is finished before work should start on it though. Is that okay? I'll be sure to let you know once the design is ready.

[2020-05-04 16:15] robdrosenberg commented on #32
Complete in #42

[2020-05-04 16:15] #32 closed

[2020-05-04 16:28] Uneetpatel7 commented on #36
Yeah sure

[2020-05-04 21:21] robdrosenberg commented on #23
### Proposed Site pages / Content
- Home Page
- Docs -> Guides | Tutorials | API
- Showcase
- About -> Community | Sponsors
- Blog
- Releases
- FAQ

### Design Phases
Stage 1: Start off with a detailed wire frame of the home page
Stage 2: Build out the content architecture / wireframes for the other pages with less detail than home page
Stage 3: Complete Home Page design
Stage 4: Site / Brand Styl

[2020-05-04 21:24] robdrosenberg opened #48 "Auto Generate doc PRs for updates to CLI commands"
When there's a new command added in blitz/packages/cli
parse out the command and then use the built in oclif documentation to update the website docs

[2020-05-04 21:25] robdrosenberg commented on #48
@Zeko369 Here's the issue for auto cli doc updates!

[2020-05-05 07:44] Zeko369 commented on #48
Quote from slack to keep it in one place

[2020-05-05 07:56] flybayer commented on #48
This is fine as long as it doesn't add friction for making our docs really nice and helpful. (It seems like it would add too much friction, but maybe not)

[2020-05-05 09:55] Zeko369 commented on #48
@flybayer I was just thinking about having a template like

[code]

And then having a compile step for example `yarn link-cli` that would go in and add change __template__ with something generated from the cli docs

Out of this output we don't need description since it's going to be explained in detail below
[code]

[2020-05-05 14:07] aem commented on #48
I think we probably want a halfway system here. Auto-generated docs from the CLI info is probably too basic, but we do want some way to ensure the docs are up to date. Maybe when CLI commands are updated we auto-create an issue in `blitz-js/blitzjs.com` for the PR author to update docs? We can list the new things that need to be documented based on parsing the command (options, arguments, etc) and

[2020-05-05 14:14] flybayer opened #49 "Add link to Vercel in the footer"
Vercel is sponsoring our account for free hosting! So we need to add a link to them in our footer.

- Text: "Hosted on Vercel"
- Url: `https://vercel.com/?utm_source=blitzjs`

[2020-05-05 16:06] simonpeterdebbarma commented on #49
Gotcha. Taking this issue.

[2020-05-05 19:50] simonpeterdebbarma commented on #49
The current Footer content comes from `docusaurus.config.js`.
Only a few properties are possible in that document, these include: style, links, logo,and copyright.

I found out about swizzling. It's similar to shadowing in Gatsby.
https://v2.docusaurus.io/docs/using-themes/#swizzling-theme-components

`yarn run swizzle @docusaurus/theme-classic Footer`

Used that to create a custom Footer componen

[2020-05-05 21:29] #49 closed

[2020-05-06 03:27] simonpeterdebbarma commented on #30
Is there anything I can help with here? @robdrosenberg

[2020-05-06 03:43] robdrosenberg commented on #30
@simonpeterdebbarma It's being worked on in #47 @mgm1313 was working on the branch and made some good headway.

[2020-05-06 16:27] Zeko369 commented on #48
Maybe we could keep description (oclif) and a longer description of site/manpages?? in `cli/docs` so we can keep it in one place

[2020-05-06 21:01] robdrosenberg opened #51 "Announcement Banner Component"
We need a banner component at the top of the page.
Initially we'd like it to display: "Site Still In Progress"

In the future we can use it as a banner for announcements like new Blitz version releases. Any talks that are given on Blitz etc..

It should also have a close button so people who frequent the site don't have to see it all the time.

[2020-05-06 21:37] 0ww commented on #51
I'd like to do this.

[2020-05-07 04:38] 0ww commented on #51
I'll have to unassign myself from this Issue, as I am unable to solve why my components aren't rendering and causing weird bugs. For some weird reason, the whole page goes blank with my own components, or external components like `react-banner`.

If it's any consolation to myself it compiles without error. Maybe you will have better success.

![image](https://user-images.githubusercontent.com/3120

[2020-05-08 20:39] liamjosephsilk commented on #51
If this is still available, it is something I would like to do.

[2020-05-09 21:21] liamjosephsilk commented on #51
Just a couple of questions before implementing:

1. Is the banner ok to be under the navigation bar, but maintain a fixed position? (This is because the nav is from docosaurus theming, and would require changes the the Layout component)
2. Do you want the banner displaying on all pages or just the homepage? (Again down to changes to the docosaurus theming and Layout component)

[2020-05-10 09:22] 0ww commented on #51
I think you can have it as part of the navbar by swizzling the component from Docusaurus. Let's have it all pages, but if you close it on one page, it should not show up on other pages.

[2020-05-10 09:52] liamjosephsilk commented on #51
My only concern with that is, in the docs it states to discourage swizzling until into Beta? I can easily implement this if agreed.

[2020-05-12 03:47] robdrosenberg opened #55 "Add Theme UI"
We've decided to use Theme UI as our CSS solution for the website.

We found Theme UI to be a choice that struck a good balance between Tailwind and Emotion / Styled Components. Since the community was split between both.

You can find instructions on how to install Theme UI here: https://theme-ui.com/getting-started

[2020-05-12 03:49] robdrosenberg opened #56 "Convert Existing styles and components to Theme UI"
We'll need all existing styles and components transitioned over to theme ui.

[2020-05-12 03:50] robdrosenberg commented on #56
Dependent on #55

[2020-05-12 05:27] robdrosenberg commented on #55
Took a first stab at it but couldn't get it to override the current styles with the time I had.
 - The first issue is the Layout Component is in the @theme directory which is default docusaurus code, not sure how to add the ThemeProvider component from theme ui to it.
- Clearing out the styles. There's a ton of default css from the docusaurus theme baked in, we'll have to strip out or override. I

[2020-05-12 21:56] robdrosenberg commented on #51
@liamjosephsilk Sorry if I'm too late, just getting to this but if you can avoid swizzling it's probably best for now until docusaurus v2 is more stable.

[2020-05-14 12:43] liamjosephsilk commented on #51
That's ok, ill do it without the swizzle. I'm not sure if i'll be able to alter css for the component, because the classnames are created on build.

[2020-05-23 04:55] #30 closed

[2020-05-24 03:51] robdrosenberg commented on #6
Closing due to multiple similar issues.

[2020-05-24 03:51] #6 closed

[2020-05-24 03:52] robdrosenberg commented on #10
Waiting on #23

[2020-05-24 03:54] robdrosenberg commented on #25
Closing due to new site updates from @flybayer

[2020-05-24 03:54] #25 closed

[2020-05-24 03:55] robdrosenberg commented on #13
Closing due to multiple similar issues.

[2020-05-24 03:55] #13 closed

[2020-05-24 03:56] robdrosenberg commented on #51
Merged in #53, Thanks @liamjosephsilk 🎉

[2020-05-24 03:56] #51 closed

[2020-05-24 03:58] robdrosenberg commented on #56
Woops, didn't mean to close this. This is ready to work on!

[2020-05-24 06:25] liamjosephsilk commented on #51
Thanks, I've been super swamped with uni work! I was trying to look at without swizzle as you suggested but just haven't had time.

[2020-05-26 16:02] robdrosenberg opened #66 "Inconsistent Theme Switcher"
The theme switcher does not alternate positions consistently across different browsers.

I tested on Chrome and had the following result.

![CleanShot 2020-05-25 at 18 31 41](https://user-images.githubusercontent.com/20813991/82851999-6beaae00-9eb6-11ea-83d0-dd9de6e98cf1.gif)

@aem Tested on firefox and had the same issue.

### Expected behavior:
When the site is in light mode, the radial button s

[2020-05-27 09:50] flybayer commented on #66
@robdrosenberg I'm 95% sure this is a cache issue for you because the header bar is dark which means you still have the old docusaurus theme stuff hanging in your browser. You need to clear your local storage.

[2020-05-27 10:47] robdrosenberg commented on #66
Tested it on Firefox and Safari and did not see the issue.
Cleared my local storage and is working now on Chrome.

[2020-05-27 10:47] #66 closed

[2020-05-27 14:46] flybayer commented on #55
Closed in #63

[2020-05-27 14:46] #55 closed

[2020-05-27 14:48] #31 closed

[2020-05-30 11:22] #44 closed

[2020-06-09 18:52] robdrosenberg commented on #56
waiting on #23 before styling components

[2020-06-10 07:07] robdrosenberg opened #77 "Add Canary Branch for pre-release documentation"
We'll want a canary branch contributors can add their documentation to before release in blitz. That way the documentation isn't added to the website before it's launched in the main repo.

[2020-06-12 15:17] flybayer opened #79 "Add social preview images"
Currently the site doesn't have any open graph social images.

We need to add these so it looks good when shared on social media.

You can link to this image: https://github.com/blitz-js/art/raw/master/logo-bg-purple.png

[2020-06-19 03:16] flybayer opened #89 "Rename master branch to main"
- [ ] Push new main branch
- [ ] Set default branch in GH to main

[2020-06-19 14:16] flybayer opened #90 "Document how to migrate a Next.js app to Blitz"
We want to add a guide to our docs on how to migrate a Next.js app to a Blitz app. The main thing is replacing the next dependency with blitz, and then using `blitz start` and `blitz build`.

There's probably some edge cases here that we need to document and maybe and have fixes for (like I'm not sure if `src/pages` works with Blitz?)

@ryardley do you have anything to add to this?

[2020-06-20 20:02] toshi1127 commented on #20
I can help with the translation into Japanese!

[2020-06-20 20:04] toshi1127 commented on #79
I would like to tackle this issue.

[2020-06-21 15:05] flybayer commented on #79
@toshi1127 awesome! Will be really good to get this in.

[2020-06-22 02:18] flybayer commented on #79
Closed in #96

[2020-06-22 02:18] #79 closed

[2020-06-22 13:09] flybayer opened #98 "Add syntax line highlighting"
The default docusurus Code component [had support for highlighting specific lines](https://v2.docusaurus.io/docs/markdown-features/#line-highlighting) in a code block. But we lost that when we switched to the Prism component provided by theme-ui.

However, we really need the line highlight functionality to it's easy to highlight certain changes in the tutorial.

[Here's where it's used in our sour

[2020-06-26 12:11] shaunchurch commented on #98
Looks like support for highlighting specific lines was added to Theme-UI/Prism in the coming version 4.0, currently in RC1 release.

We can upgrade @theme-ui/prism separately to the rest of theme-ui so perhaps it's not a big risk to move to the release candidate just for Prism? Will submit a PR shortly.

[2020-06-29 14:32] #98 closed

[2020-06-29 14:59] flybayer opened #103 "Update tutorial to use the new code syntax highlighting"
We now have [code syntax line highlighting support](https://github.com/blitz-js/blitzjs.com#code-syntax-highlights). So we need to update the tutorial to use this. It'll be much easier to follow! :)

[2020-06-30 09:03] #89 closed

[2020-07-10 01:02] peterpalau commented on #20
I couldn't be more than happy to help with Spanish!

[2020-07-10 03:01] flybayer commented on #20
Awesome, thank you everyone that's volunteered so far!

We can start on translations after Kristina finishes the final website design and those designs are implemented.

[2020-07-10 03:41] peterpalau commented on #23
Hi guys, I want to collaborate with this one. Is there anything I can do?

[2020-07-11 03:02] flybayer commented on #23
@peterpalau are you in our Slack? Our designer Kristina has some stuff you can help with :)

[2020-07-11 16:53] peterpalau commented on #23
Ok @flybayer I will do it.

[2020-07-20 18:27] LoriKarikari commented on #103
I'll pick this one up.

[2020-07-20 18:31] LoriKarikari commented on #2
Is this something that can be done now?

[2020-07-21 05:03] flybayer commented on #2
Wait till the final design :)

[2020-07-21 11:45] LoriKarikari commented on #90
I can take a look at this later this week if no one else has started this yet. I haven't tried this yet but I'm eager to experiment with it.

[2020-07-21 13:34] #103 closed

[2020-07-21 14:04] LoriKarikari opened #116 "Syntax highlighting is incorrectly offset when used multiple times in the same code snippet"
When you want to highlight multiple blocks of code in the same code snippet there is some issue that arises. The first highlight will be displayed correctly but the second one will be off by 2 lines. The third one by 4 lines, the fourth one by 6, so it increments by 2 every time.

![highlight-code](https://user-images.githubusercontent.com/7902980/88063365-3f77a900-cb6a-11ea-85ed-26ff3232e137.JPG)

[2020-07-22 00:34] ryardley commented on #90
Yeah I am not sure `src/pages` will work. Would probably need to be moved to `app/pages` however a fix to make it work in blitz would be pretty easy.

[2020-07-26 16:25] jay-jlm opened #118 "Getting started page doesn't mention you can start a project with vanilla Javascript"
This feature was added by:
https://github.com/blitz-js/blitz/pull/305

[2020-07-27 10:32] flybayer commented on #118
That's because everything doesn't work yet 😅

I think this is the final issue: https://github.com/blitz-js/blitz/pull/557

[2020-07-27 13:50] jay-jlm commented on #118
I see, I'd still mention it though while making a disclaimer of the status and let ppl choose by themselves wether to use try it or not (aka Python's "consenting adults" mantra). Just my personal opinion ;-)

[2020-08-06 12:34] Mozart409 commented on #20
@flybayer
Hey, how is it going? When can we start translating 😄

[2020-08-08 20:40] flybayer commented on #20
Website design is _almost_ finished! So still can't translate yet, but I want to asap!

[2020-08-09 14:18] mikeroosa opened #126 "After adding projects and clicking around - app locks up"
➜  myBlitzApp git:(master) ✗ blitz -version
You are using alpha software - if you have any problems, please open an issue here:
  https://github.com/blitz-js/blitz/issues/new/choose

macOS Catalina | darwin-x64 | Node: v13.11.0

blitz: 0.17.0 (global)
blitz: 0.17.0 (local)

---

I generated a new blitz app, uncommented the projects in the schema and I've run into some issues. If I click around on

[2020-08-10 01:44] mikeroosa commented on #126
Sorry wrong place.

[2020-08-10 01:44] #126 closed

[2020-08-13 20:31] scisteffan opened #129 "usePaginatedQuery docs example incorrect"
### What is the problem?

When I use the example usePaginatedQuery code in the docs (https://blitzjs.com/docs/use-paginated-query) the next button is not appearing / disappearing correctly.

[2020-09-07 16:37] madflow opened #149 "Documentation on anti-csrf token is out of date"
I _think_ that the documentation where the `anti-csrf token` is stored is out of date. Assuming that ` localstorage` means the Browser's `localStorage`.

* https://blitzjs.com/docs/auth

From a quick glance at the Dev tools in my browser: I would assume that the `anti-csrf token` is stored in a cookie - which is probably a good thing.

[2020-09-08 00:34] flybayer commented on #149
Yes, you are right! That needs updated. We also added a helper function to get the token:

[code]

Want to make a PR for this?

[2020-09-09 01:35] #149 closed

[2020-09-09 16:26] flybayer opened #154 "Add a "Made with Blitz" page"
I want a top-level "Made with Blitz" page (not under /docs) where anyone can add their app or project that they have built with Blitz.

It can be some type of basic grid layout where you have an title and image that links to the project.

[2020-09-09 20:00] cardotrejos commented on #154
I would like to take this too. :D

[2020-09-09 20:14] flybayer commented on #154
Awesome, it's all yours!

Basically what I'm picturing is the basic grid layout like on https://www.gatsbyjs.com/showcase.

The whole site is going to get redesigned soon (design is being finalized), so you don't have to worry too much about perfect design.

[2020-09-11 16:43] cardotrejos commented on #154
Hey there @flybayer someone already have this task on this issue https://github.com/blitz-js/blitzjs.com/issues/36.

[2020-09-11 16:53] yuta0801 opened #159 "Security issues of tutorial"
The tutorial seems to have security issues that anyone can
- create and update any choices through createQuestion
- update choices with any data

I think it should be added a security note or a new section about how to fix the issues.

Demo in browser console:
![image](https://user-images.githubusercontent.com/21266306/92950144-2c60c580-f497-11ea-9cea-344d2004b381.png)

[2020-09-11 17:47] flybayer commented on #36
Closing in favor of #154

[2020-09-11 17:47] #36 closed

[2020-09-11 17:47] flybayer commented on #154
@cardotrejos I closed that one :)

[2020-09-11 18:45] flybayer commented on #159
Good catch! For the first issue, the solution is to add `ctx.session!.authorize()` at the top of every query and mutation. This is added by default in generated code, but I think there's a few places in the tutorial that needs this.

[2020-09-11 18:50] flybayer commented on #36
@Uneetpatel7 do you still want to build this? I forgot about this issue and opened #154. We want to go ahead and add this page asap before the new design is done.

[2020-09-12 08:21] LoriKarikari commented on #154
I'm hyped for this one! Really looking forward to seeing what other projects are being built with Blitz.

[2020-09-13 14:20] Obii-bit opened #160 "Document refetch method after vote in the Blitz-Tutorial"
On the [questionID].tsx page, it is better to use the refetch-method than the alert-method described in the Tutorial.

[2020-09-15 00:20] flybayer commented on #160
Thank you! Would you like to submit a PR for that?

[2020-09-15 01:53] flybayer commented on #160
Oops, I just saw your PR! Thanks!

[2020-09-15 01:53] #160 closed

[2020-09-21 20:31] LoriKarikari opened #170 "Add FAQ page to the website"
We are getting a lot of repeated questions on Slack. It would be nice to have a FAQ page on the website to have an overview of questions that are commonly asked.

[2020-09-22 11:58] liamjosephsilk commented on #159
Can I take this one?

[2020-09-24 01:59] flybayer commented on #159
@liamjosephsilk yes!

[2020-09-24 10:45] liamjosephsilk commented on #170
I could pick this one up as well? Is there a curated list of common questions/answers?

[2020-09-24 10:57] LoriKarikari commented on #170
There isn't one AFAIK. We should probably create one. I'm sure @flybayer already has some questions to add to that list.

[2020-09-24 13:30] yuta0801 commented on #159
Yes, it's also an issue that anyone can post. however the tutorial didn't cover authentication, I think it doesn't matter. (of course, it would be very nice if it will be)
I just wanted to mention that everyone can insert 5+ choices (we probably want to limit it to 4 or lower) and can update choices related to other questions (this is undesirable behavior)

[2020-09-24 13:44] liamjosephsilk commented on #159
Could we make use of authentication in the tutorial? Seen as it comes built in? Align it better with the current onboarding of setting up a project?

[2020-09-24 19:19] liamjosephsilk commented on #170
I'm still happy to pick this up?

[2020-09-24 20:35] LoriKarikari commented on #170
Yeah, you can start working on it. We can provide you with the questions or add them afterwards I guess.

[2020-09-25 00:31] flybayer commented on #170
I don't have a list of questions, but you can browse through the help channel in slack and pick ones that seem good to have 🤷

[2020-09-25 15:13] AxDSan opened #175 "Error: Failed to parse json from request to /api/projects/queries/getProject"
[code]

I get that error when I try to edit a project.

This is on a newly made, fresh project, nothing else added outside of the app itself, this is all barebones except I have done `blitz generate all project name:string` and `blitz db migrate` that's all.

[2020-09-27 19:51] flybayer opened #179 "Automatically convert TS code examples to JS"
This looks like it will work perfect:
https://github.com/phryneas/remark-typescript-tools

[2020-09-28 15:38] flybayer commented on #159
Yeah would be good to add auth to this!

[2020-09-29 11:52] pranikz commented on #170
Assign me I can pick this up

[2020-09-30 01:45] flybayer commented on #170
@pranikz let's give @liamjosephsilk some time to finish it. Unless he wants to hand it off to you.

[2020-09-30 05:13] liamjosephsilk commented on #170
Im happy to hand it off, still finishing up the tutorial @pranikz , @flybayer.

[2020-09-30 05:58] pranikz commented on #170
okay sure no issue I can work on that.

[2020-09-30 08:55] pbteja1998 commented on #179
Hey @flybayer I want to work on this issue. Can you please assign it to me? Thanks.

[2020-09-30 09:04] LoriKarikari commented on #179
there you go @pbteja1998!

[2020-09-30 13:01] flybayer commented on #179
@pbteja1998 you have commit access, so next time assign it to yourself :)

[2020-10-05 13:40] engelkes-finstreet commented on #20
Hey!
I can help with german translations.

[2020-10-10 08:27] pbteja1998 commented on #179
I am unassigning myself from this because I don't think I have the bandwidth right now to handle this. Will pick it up again when I have time and the issue is still open by then.

Sorry for the trouble.

[2020-10-12 22:55] Weilbyte opened #224 "`blitz new` docs missing `--js` toggle"
https://blitzjs.com/docs/cli-new is missing `--js` in the options. Adding it there would be nice.

[2020-10-12 23:11] flybayer commented on #224
@Weilbyte it's because everything isn't fully working for that yet 😬

[2020-10-12 23:17] Weilbyte commented on #224
Ah, I see.

[2020-10-16 15:05] Kathuria commented on #179
@flybayer @LoriKarikari : Can I work on this issue?

[2020-10-16 15:15] LoriKarikari commented on #179
@Kathuria yeah sure!

[2020-10-18 12:59] Kathuria commented on #179
@LoriKarikari : I won't be able to complete this due to some errors while setting up remark-typescript-tools, You can assign this issue to next contributor.
Sorry.

[2020-10-18 17:32] goleary commented on #159
I'm a little confused following the tutorial because auth seems to have been included in the app/generated code but there is no mention of it in the tutorial and there are inconsistencies because of it.

Perhaps there should be a way to start a project with no auth so that following the tutorial makes more sense.

[2020-10-26 22:38] flybayer commented on #159
@goleary yeah sorry about that, we need to update the tutorial.

[2020-11-02 16:12] leggsimon opened #239 "Add instructions on deploying to Heroku"
I’ve just deployed a blitz app to Heroku but with little information out there I found it a little fiddly.

I’m happy to add a page covering the steps. As maintainers would you prefer it to assume a completely fresh application. (I can add that as a caveat at the top that some things may vary if it’s already got different moving parts)

[2020-11-02 22:29] flybayer commented on #239
Yeah, assume a fresh application

[2020-11-02 22:58] LoriKarikari opened #240 "Add instructions for deploying on Digital Ocean App Platform"
The title speaks for itself 😅

[2020-11-05 01:49] #239 closed

[2020-11-09 08:13] theZieger opened #248 "Docs - how to prettier configuration"
### What do you want and why?

As of https://github.com/blitz-js/blitz/discussions/1390 I noticed there is no documentation that guides one about how to change certain (opinionated) aspects of Blitz. Therefore I would like to see a new page within the advanced section of the documentation: *Prettier Config*

### Possible implementation(s)

Add a new page to the docs. :rocket:

### Additional conte

[2020-11-09 14:38] jamiedavenport opened #247 "Instructions for deploying to Elastic Beanstalk"
Useful for those who want to deploy to AWS. Aligns with Blitz's goals of being productive and easy to start & scale.

https://docs.aws.amazon.com/elastic-beanstalk/index.html

[2020-11-10 01:29] flybayer commented on #248
We can add a general page like "Creating a new app" that can cover this and other things like form libraries, etc.

[2020-11-12 02:19] robdrosenberg opened #249 "V2 - Initial Setup"
We're ready to start the new version of the Blitzjs.com site.

We'd like to build it using Blitz and Tailwind.

The initial idea is to fork the [Tailwind Docs Site](https://github.com/tailwindlabs/tailwindcss.com) and add Blitz to it and use Tailwind for Styling. We'd use static rendering where ever possible. Auth isn't needed right now but there could be use cases later on that we could build!

-

[2020-11-12 02:47] cwray-tech commented on #249
Hey, @robdrosenberg I added a v-2 branch. Tomorrow I can start working on the setup of the Blitz app based on the Tailwind CSS website as Brandon has suggested.

[2020-11-13 17:33] robdrosenberg opened #252 "V2 - Video Component"
Create a video component we can reuse anywhere on the site. Should be able to handle videos from platforms like Youtube, Vimeo, and any other kind of video link including files.

Some libraries that do the job well I've used before:
[react-player](https://github.com/CookPete/react-player)
[video-react](https://video-react.js.org/)

[2020-11-13 17:54] robdrosenberg opened #253 "V2 - Nav"
Create the site nav in light and dark mode and display it on all pages.

We will update this list as new issues get created but here are the other requirements for the nav to be complete.
- [ ] Add docs search to nav
- [ ] Light / Dark mode theme switcher
- [ ] Banner component for announcements
- [ ] Mobile Nav

Links:
- [ ] Docs page
- [ ] Github - https://github.com/blitz-js/blitz
- [ ] Release

[2020-11-13 22:37] flybayer commented on #252
This has the best performance: https://github.com/paulirish/lite-youtube-embed

[2020-11-14 00:59] cwray-tech opened #254 "Get chokidar errors when running blitz start on windows."
When starting blitz on a windows machine, the console outputs errors:
[code]

[2020-11-14 15:25] #249 closed

[2020-11-14 15:38] flybayer commented on #252
v2 code is now in the `new-site` folder of the main branch

[2020-11-14 15:38] flybayer commented on #253
v2 code is now in the `new-site` folder of the main branch

[2020-11-14 15:50] flybayer opened #255 "V2 - Remove all the Tailwind specific content and code"
The v2 site is now in the `new-site` folder on the main branch.

It currently it's a clone of the tailwindcss doc site, so now we need to remove all the tailwind docs, images, tailwind specific components (can keep anything generic that looks useful), etc.

Let me know if you have questions about anything.

[2020-11-14 16:02] Flavyoo commented on #253
Does it make sense to split this implementation into two components. One for the call out at the top and one for the navbar? I can create the issue for the callout.

[2020-11-14 16:08] flybayer commented on #253
@Flavyoo yes, probably makes sense.

[2020-11-14 16:09] Flavyoo opened #256 "V2 - Page Layout"
Create a page layout component.

Requirements:

- [ ] Contents can be passed to this layout component to render the pages.

- [ ] Support for adding contents to the header of the HTML page such as meta tags and page titles using the Blitz `<Head/>` component

Design:
https://www.figma.com/file/KxLHA7cVPEy1fNE2bD8wWv/Blitz?node-id=1147%3A0

[2020-11-14 16:11] Flavyoo commented on #253
@robdrosenberg Is there a way to create a template from the issue you have here?

[2020-11-14 16:13] flybayer commented on #256
We don't need react-helmet, blitz has a `<Head>` component that does the same thing.

[2020-11-14 16:15] Flavyoo opened #257 "V2 - Banner"
Create a banner component that can be used to make announcements on the site.

Requirements:

- [ ] Follow current design linked below

- [ ] Take the announcement content as a prop. Consider how we can store the announcement so it can be easily updated and translated. Maybe store it in an MDX file?

- [ ] Might be worth to render this banner component as part of the Page Layout component. This wa

[2020-11-14 16:26] Flavyoo opened #258 "V2 - Configure Tailwind light/dark theme"
The new site has a dark and light theme that users can switch between in the Navbar. The objective of this issue is to create the theme object supported by Tailwind for both dark and light mode.

- [ ] Dark and light mode theme configured
- [ ] [Follow the figma style guide](https://www.figma.com/file/KxLHA7cVPEy1fNE2bD8wWv/Blitz?node-id=1130%3A2472)

**Note: we need to use the new tailwind dark m

[2020-11-14 16:34] flybayer commented on #258
I added a line to your message about using the new tailwind dark mode feature.

[2020-11-14 16:40] Flavyoo opened #259 "V2 - Blitz Description Component"
Create the component that contains the main page header and description.

- [ ] Contains the proper page header and description for Blitz

- [ ] Follows the figma design. Other half of this section looks like a background image based on how the hands wrap the code sample. This component can take the whole width and have contents aligned left.

- [ ] Responsive, follows mobile design in Figma

**Su

[2020-11-14 16:42] Flavyoo commented on #258
Sounds good!

[2020-11-14 17:07] Flavyoo opened #260 "V2 - Background Component"
Create the Background component.

The Background component is responsible for rendering any background we want. Right now we have two types of Background, a plain color background and an Image based background. Backgrounds will be used on different sections of a page.

Requirements:
- [ ] The component should take an image or image resource as a prop and render it if it is an image background.

-

[2020-11-14 17:12] Flavyoo opened #261 "V2 - Page Container"
Create the Page Container component.

The PageContainer is a simple component that we wrap contents of pages with. It's main responsibility is to have a bounding width to prevent contents pages from extending beyond certain screen sizes or causing content in the pages to stretch too much.

Checkout the [Figma design](https://www.figma.com/file/KxLHA7cVPEy1fNE2bD8wWv/Blitz?node-id=1147%3A0). Take n

[2020-11-14 17:22] Flavyoo opened #262 "V2 - ActionButtons"
Create the ActionButtons Component

The ActionButtons Component will render buttons with links. As part of this issue, the ActionButton component should also be created.

- [ ] ActionButton component created

- [ ] ActionButtons component created

- [ ] Proper Hover styles if any

- [ ] [Follows figma design](https://www.figma.com/file/KxLHA7cVPEy1fNE2bD8wWv/Blitz?node-id=1147%3A0)

- [ ] Responsi

[2020-11-14 17:34] Flavyoo opened #263 "V2 - FeatureDescription Component"
Create the FeatureDescription Component.

The FeatureDescription component is responsible for rendering a Feature header that can also be a component such as an <Icon/>, and the feature description. Note the feature description can also have its unique styling. It might be easier to pass both the title and the contents as props to keep logic in this component simpler.

- [ ] Supports a custom feat

[2020-11-14 21:33] flybayer commented on #259
Also needs to be responsive (mobile design is in figma)

[2020-11-15 00:56] Flavyoo opened #266 "Remove Version Section from the ReadME"
Since we don't use docs version we should remove the section on versioning in the README to reduce confusion.

[2020-11-15 20:06] #266 closed

[2020-11-19 05:55] cwray-tech commented on #255
I can work on this if no one else is!

[2020-11-19 15:21] flybayer commented on #255
@cwray-tech ok, just wait until I get #269 fixed and merged

[2020-11-20 03:47] cwray-tech commented on #255
@flybayer sounds good.

[2020-11-21 17:46] MrLeebo opened #271 "Instructions for how to report a security vulnerability"
Despite our best efforts, it's likely that a security vulnerability will be discovered by a non-contributor out in the wild. It would be good to have a page instructing them how to best report the issue so that it can be resolved. I imagine that a lot of security issues can be reported as basic GitHub issues, but I believe we need to allow for the possibility of an exploit that is so dangerous tha

[2020-11-21 23:34] cwray-tech commented on #255
Starting on this!

[2020-11-24 00:45] flybayer commented on #271
For now probably the best is to email me directly

[2020-12-14 22:12] scisteffan opened #282 "Linter is failing because of the word "dummy""
The error I see is:

[2020-12-14 22:19] flybayer commented on #282
Yeah that need's fixed!

[2020-12-15 16:49] #282 closed

[2020-12-15 17:57] #255 closed

[2020-12-15 22:06] cwray-tech commented on #255
@flybayer great work! Thank you for taking over!

[2020-12-21 15:14] reo777 commented on #20
I know label is removed , but i'd like to help translate Japanese!!

[2020-12-22 19:17] flybayer commented on #20
We're still wanting help! Was just refactoring our label setup :)

[2020-12-31 04:21] linbudu599 opened #293 "incorrect code in tutorial"
- tutorial:
[code]

This will cause an error because props `questions`(`[{ questions, hasMore }]`) doesn't exist on type `(Question & { choices: Choice[]; })[]` (`return questions`).

should be like this:

[code]

Nullish Coalescing in `skip ?? 0` is required to avoid typescript warnings.

[2020-12-31 21:58] flybayer commented on #293
Yes, you are right! Want to make a PR to fix it? :)

[2020-12-31 22:55] flybayer commented on #256
Already done

[2020-12-31 22:55] #256 closed

[2020-12-31 22:56] #252 closed

[2020-12-31 22:56] #253 closed

[2020-12-31 22:56] #259 closed

[2020-12-31 22:56] #262 closed

[2020-12-31 22:56] #263 closed

[2021-01-01 03:54] linbudu599 commented on #293
Sure, but there's one more problem: the code in the tutorial seems to be different with code generated, e.g:

[code]

should I directly change the tutorial content to keep up with code generated?

[2021-01-01 21:19] #2 closed

[2021-01-02 19:59] #293 closed

[2021-01-08 01:50] abuuzayr commented on #257
i'll work on this if nobody is on this yet!

[2021-01-08 02:06] abuuzayr commented on #261
Since the entire site (home, docs, etc.) are wrapped with the same layout (header, footer, banner) - unlike the tailwind site - I will be extracting the current index page and wrap a layout around it so other pages can use it as well.

I'll work on this if nobody is on it yet.

[2021-01-08 02:15] Flavyoo commented on #261
@abuuzayr Thanks for picking this up! Please add me to the review.

[2021-01-08 02:17] Flavyoo commented on #257
@abuuzayr Thanks for picking this up. Let me know if I can help with anything, and please add me to the review.

[2021-01-08 04:40] abuuzayr opened #300 "V2 - Custom Document"
Update the custom document in `_document.js`

This includes:

- [x] favicons
- [x] manifest.json

We will want these to refer to blitz images and names

[2021-01-08 04:52] rembrandtreyes commented on #260
🙌 I'll grab this.

[2021-01-08 04:53] abuuzayr commented on #300
We currently have these icons:

- favicon.ico
- 128x128-Favicon-Black.png
- 128x128-Favicon-Dark_Purple.png
- 128x128-Favicon-Purple.png
- 32x32-Favicon-Black.png
- 32x32-Favicon-Dark_Purple.png
- 32x32-Favicon-Purple.png

I will use what we have here first, but we can add these also if we want:

- 192x192 in .png, for Chrome PWA
- 512x512 in .png, for Chrome PWA
- 16x16 favicon used by some brows

[2021-01-08 17:24] scisteffan opened #303 "V2 - Add a hover effect to buttons"
I think it would be nice to add a hover effect to all the buttons :)

[2021-01-08 17:27] scisteffan opened #304 "V2 - Add the hands to the homepage layout"
I haven't added the wavy hands to the homepage layout yet. These could be added in via absolute positioning. The hands need to become straight at the edge so it can continue through large screen sizes. We can split some of the hand images around the bits of the design where they go in front / behind other elements (e.g. the code example at the top of the homepage).

[2021-01-08 17:28] scisteffan opened #305 "V2 - Add an icon for seedling sponsors"
I added seedling sponsors to the homepage, which means we need a new icon with the number "5" on it.

[2021-01-08 17:29] scisteffan opened #306 "V2 - Add a custom scrollbar for the homepage"
The architecture diagram and the "Everything You Need For Production Apps" features list need a custom scrollbar so it's visible and obviously scrollable.

[2021-01-08 21:24] flybayer commented on #260
@rembrandtreyes it's actually already done!

[2021-01-08 21:24] #260 closed

[2021-01-08 21:29] flybayer commented on #258
done

[2021-01-08 21:29] #258 closed

[2021-01-08 21:30] flybayer commented on #129
I'm not sure if this is still an issue or not

[2021-01-08 21:31] #116 closed

[2021-01-08 21:32] #56 closed

[2021-01-08 21:32] #23 closed

[2021-01-08 21:32] #28 closed

[2021-01-08 21:32] #77 closed

[2021-01-08 21:33] flybayer commented on #224
Duplicate of #118

[2021-01-08 21:33] #224 closed

[2021-01-08 21:34] #10 closed

[2021-01-08 21:39] flybayer commented on #261
@abuuzayr actually I don't think a layout component will work to add the top and bottom nav because the homepage is so complex it has to pull in the individual components too.

The docs pages all match, but they already have a shared layout. And we currently don't have any other pages, so I'll close this for now.

[2021-01-08 21:39] #261 closed

[2021-01-08 22:53] scisteffan commented on #129
This was resolved in the pull request, closing

[2021-01-08 22:53] #129 closed

[2021-01-10 15:54] scisteffan opened #316 "V2: Crop the architecture diagram svg"
We need to crop the architecture diagram svg so it doesn't scroll on desktop.

[2021-01-11 00:39] rembrandtreyes commented on #306
I'll grab this. Are there designs set for the horizontal scroll bar? If not I'll make it similar to the new design.

[2021-01-11 10:49] scisteffan commented on #306
No 😄

[2021-01-11 11:09] scisteffan opened #318 "V2: Add a cookie message for EU visitors (GDPR)"
Since we have a target audience of people in the EU, then we need to add a cookie popup consenting to the use of cookies on the website - to comply with GDPR regulation in the EU. This can be just a small dialog box at the bottom of the page on the first pageload. It should not display on future visits. We can use GeoIP to determine the location of the visitor.

[2021-01-11 18:01] rembrandtreyes opened #320 "V2: Dark mode toggle flips back to 'light' mode on refresh"
When a user lands on the new https://next.blitzjs.com/ site click on the dark mode toggle it will switch the theme to dark mode and save the state of the theme.

Now if the user refreshes the page the dark mode toggle will switch back to light mode, but leaves the theme set to dark.

![dekstop](https://user-images.githubusercontent.com/15057964/104220030-c60f9380-53f3-11eb-9109-8e0a3a8e4538.gif)

[2021-01-11 20:12] flybayer commented on #318
Do we _really_ have to? 😅

[2021-01-13 04:10] abuuzayr opened #323 "V2 - Docs"
Setting up this issue to track requirements as I am working on the documentation theme/layout for V2.

- [ ] Layout
- [ ] Side navigation
- [ ] Styling
- [ ] ...

[2021-01-14 04:12] abuuzayr opened #324 "V2 - Use Typescript"
Since the initial setup of the V2 site was based on the tailwindcss.com repo, TS is not used. However, @cwray-tech did set it up when converting it to a Blitz repo.

In the spirit of keeping to Blitz.js's style, I think TS should be used.

- [ ] Convert `.js` files to `.ts`
- [ ] Convert `.js` files that require `jsx` tags to `.tsx`
- [ ] Add type security
- [ ] ...

[2021-01-14 04:14] cwray-tech commented on #324
@abuuzayr sounds great to me!

[2021-01-14 16:38] #257 closed

[2021-01-14 16:39] #300 closed

[2021-01-15 10:47] scisteffan commented on #320
I'm working on this one!

[2021-01-15 11:11] scisteffan commented on #318
https://www.lexology.com/library/detail.aspx?g=8be3232c-11a4-45b7-b8d9-3a54844e77aa

We don't need to add the cookie banner. That's a relief.

[2021-01-15 11:11] #318 closed

[2021-01-15 19:18] #303 closed

[2021-01-15 19:30] #320 closed

[2021-01-25 23:19] #304 closed

[2021-01-25 23:19] #305 closed

[2021-01-25 23:31] flybayer commented on #316
closed in #336

[2021-01-25 23:31] #316 closed

[2021-01-27 02:38] flybayer commented on #179
This can be added to the new docs site after https://github.com/blitz-js/blitzjs.com/pull/332 is merged

[2021-01-28 09:23] linbudu599 commented on #20
I can help with Simplified-Chinese translations :p

[2021-02-09 16:43] #306 closed

[2021-02-14 14:52] #323 closed

[2021-02-18 06:52] Spy-Seth opened #371 "Edition link to improve a documentation page are broken"
In the footer of a documentation page, the "_Idea for improving this page? Edit it on Github._" links lead to a 404.

![image](https://user-images.githubusercontent.com/95120/108316965-e8988780-71bd-11eb-9390-d0274432bfc4.png)

For example:
- on the https://blitzjs.com/docs/get-started page,
- the link lead to https://github.com/blitz-js/blitzjs.com/edit/main/docs/get-started.mdx
- it should lead

[2021-02-18 07:11] abuuzayr commented on #371
should it be this: https://github.com/blitz-js/blitzjs.com/edit/main/app/pages/docs/get-started.mdx?

[2021-02-18 21:55] flybayer commented on #371
Ah yes! Here's the line that needs fixed: https://github.com/blitz-js/blitzjs.com/blob/main/app/layouts/ContentsLayout.js#L204

[2021-02-20 18:38] scisteffan opened #376 "Broken links in algolia documentation search"
If I enter the search phrase "invalidateQuery" the first result in the search popup goes to a broken link: https://blitzjs.com/docs/resolver-utilities#invalidatequery

[2021-02-20 19:27] JuanM04 opened #377 "Fixed handles (necessary for i18n)"
To prevent broken handles when doing i18n, we should implement something similar to what React does in their documentation

English:
[code]

Spanish:
[code]

[2021-02-20 19:57] flybayer commented on #376
Looks like we need to update this config: https://github.com/algolia/docsearch-configs/blob/master/configs/blitzjs.json

Here's the docs on that config: https://docsearch.algolia.com/docs/config-file/

[2021-02-20 20:54] scisteffan commented on #376
I think we need to ask Algolia to do it, because the setup is done by them.

See https://docsearch.algolia.com/docs/how-does-it-work

[2021-02-20 21:40] flybayer commented on #376
Ok maybe yeah. cc @Kosai106

[2021-02-21 00:37] Kosai106 commented on #376
Thanks for the ping @flybayer - I'll notify our DocSearch team.

[2021-02-21 01:46] flybayer commented on #20
**HURRAY!! We're officially kicking off our website/docs translation project!!**

How it works:
- The english repo is our source of truth: https://github.com/blitz-js/blitzjs.com
- Each translation get's it's own repo and subdomain like: https://github.com/blitz-js/es.blitzjs.com
- On a periodic schedule (currently every Monday), a bot will open a PR to each translation repo with the changes from

[2021-02-21 01:53] wilomgfx commented on #20
I can help for French :D

[2021-02-21 01:54] nsantos16 commented on #20
I can help with Spanish as well (btw great work guys 👏)

[2021-02-21 01:56] oliverloops commented on #20
Hi 👋, I can provide help with Spanish!

[2021-02-21 01:57] flybayer commented on #20
Awesome y'all! Please follow the instructions at https://github.com/blitz-js/blitzjs.com-translation and open a PR to that repo with your language file.

[2021-02-21 01:57] flybayer commented on #20
Also we can create language channels in Discord as a place for collaboration on this

[2021-02-21 02:40] marina-ki commented on #20
I can help with Japanese!

[2021-02-21 11:09] shortcuts commented on #376
Hi there,

I've updated the config in https://github.com/algolia/docsearch-configs/pull/3598. You should see the changes in the next 24 hours, feel free to ping me if there's any other issue!

[2021-02-22 09:25] Spy-Seth commented on #371
Thanks to @flybayer the issue is solved. I'm closing it

[2021-02-22 09:25] #371 closed

[2021-02-22 16:59] scisteffan commented on #376
It's working as expected, thank you!!

[2021-02-22 16:59] #376 closed

[2021-02-23 17:06] #377 closed

[2021-02-24 04:39] remjx opened #384 "Broken link to invokeWithMiddleware on Using Queries page"
On https://blitzjs.com/docs/query-usage, link to `invokeWithMiddleware` is broken
Currently linking to https://blitzjs.com/docs/invoke#invokewithmiddleware
New link is https://blitzjs.com/docs/resolver-server-utilities#invoke-with-middleware

[2021-02-24 06:20] kervin5 commented on #20
I would be glad to help with Spanish

[2021-02-24 12:50] #384 closed

[2021-02-24 15:56] flybayer commented on #20
@kervin5 sweet, go here to help: https://github.com/blitz-js/es.blitzjs.com/issues/1

[2021-02-26 12:26] sakulstra opened #389 "Remove horizontal scroll in code examples by reformatting code blocks with smaller line width"
First off: the docs are beautiful and I as an absolute blitzjs beginner have found everything i needed within seconds. Good job on that!

Little nitpick though:
![image](https://user-images.githubusercontent.com/4396533/109299541-8d0d7000-7835-11eb-9acb-3abf752486bd.png)

In most code examples i got a horizontal scrollbar making it hard to read them.
I would imagine that if the right column would

[2021-02-26 15:33] flybayer commented on #389
Thanks for the feedback @sakulstra. We have a max-width on the docs for readablity for regular text. I can see how the code thing is a cumbersome though.

I think maybe the real fix is to change our prettier config so that code has a smaller line width. Ideally we could change it just for doc code blocks, but I'm not sure if that's possible or not.

[2021-02-26 22:35] insanity54 opened #391 "`blitz db migrate` is outdated in the postgres documentation (postgres.mdx)"
In step 4 of the [Via Docker](https://blitzjs.com/docs/postgres#via-docker) section of the postgres documentation, the command `blitz db migrate` is suggested.

When I enter the command `blitz db migrate` in my blitz project, I get this response--

[code]

I would just update the [documentation page](https://github.com/blitz-js/blitzjs.com/edit/main/app/pages/docs/postgres.mdx) if I knew the corre

[2021-02-27 01:56] JuanM04 commented on #389
As far as I know, is not possible. It would break `diff` code and custom indentation. I think it has to be done manually

[2021-02-27 13:20] #391 closed

[2021-02-27 21:27] flybayer commented on #389
Prettier currently formats the code blocks. So it should work. It could be diff code blocks aren't formatted by prettier. not sure

[2021-02-28 00:01] JuanM04 commented on #389
I'll look into it

[2021-03-02 17:57] JuanM04 commented on #389
Ok, I found a solution. `diff` aren't formatted, so that's have to be done manually. The other codeblocks (`txt` and `bash`) also remain unformatted

[2021-03-03 08:23] pizzafox opened #397 "<a> in Admonition blocks have very low contrast on dark theme"
[Page used in screenshots](https://blitzjs.com/docs/database-overview#content-wrapper:~:text=Prisma's%20Data%20Guide)

## Dark theme

![dark theme](https://user-images.githubusercontent.com/7608555/109775599-8de82e00-7bb6-11eb-98cb-7736dea1224d.png)

## Light theme

![light theme](https://user-images.githubusercontent.com/7608555/109775604-904a8800-7bb6-11eb-9b15-f60a0b457934.png)

[2021-03-03 21:31] #389 closed

[2021-03-03 22:06] flybayer commented on #397
Thanks for the report!

[2021-03-04 14:10] #397 closed

[2021-03-18 08:11] abuuzayr opened #410 "// highlight-line syntax no longer highlights a line in V2"
When we moved to V2, the previous `// highlight-line` syntax to highlight line in code blocks no longer works.

[2021-03-18 09:13] abuuzayr opened #412 "V2 - Wiki"
Currently the blitz wiki is at https://github.com/blitz-js/blitz/wiki

Should be move it to https://blitzjs.com/wiki?

# Pros

- Branding - would be nice to have it all on our lovely site

# Cons

- The wiki is easier to update. By having it on our site we will need a PR to make changes.

[2021-03-18 09:20] abuuzayr commented on #154
Now that we have V2 up and running, can we revive this?

Off the top of my head, here's what's needed:
- a new layout
- a top level page, probably `pages/showcase`?
- page should be `.mdx` so its easy for anyone to add their app
-- title
-- image
-- description
-- URL

[2021-03-18 13:51] JuanM04 commented on #412
We could redirect `blitzjs.com/wiki` to this wiki and leave only the Home. The other pages could go to "Guides" inside the Blitz.js website

[2021-03-18 19:45] cardotrejos commented on #154
I removed the assignment, because I don't have much time to do this :disappointed:

[2021-03-19 14:44] flybayer commented on #154
@abuuzayr yes!

[2021-03-23 23:02] #410 closed

[2021-04-07 13:30] jahredhope opened #431 "Caution sections hard to read in dark mode"
I've just been reading the documentation for this awesome project and I found the emphasised text (`<strong>`) in the Caution section on the below page difficult to read. I believe it's due to my use of dark-mode, as light-mode looks fine.

**Page:** RPC Specification
https://blitzjs.com/docs/rpc-specification

Example: **Text hard to read on yellow background**
![Text hard to read on yellow backg

[2021-04-08 15:05] #431 closed

[2021-04-10 19:54] laubonghaudoi opened #436 "Some errors and improvements in the tutorial"
I just walked through the Blitz [tutorial](https://blitzjs.com/docs/tutorial) and found several issues there, which I will list below:

## 1 Instructions of migration and generation should be more clear

In the last second part of [Scaffolding code for our models](https://blitzjs.com/docs/tutorial), *Next we'll generate the Choice model with corresponding queries and mutations.*, it doesn't say wh

[2021-04-10 20:21] flybayer commented on #436
Thank you @laubonghaudoi, great suggestions!

Do you want make a PR for some of those?

[2021-04-10 21:09] laubonghaudoi commented on #436
@flybayer Thank you! I think I can make a PR to fix the first two issues, by adding a paragraph to explain more in details. But for the last two issues, I am still looking for answers since I am a beginner in Blitz. Maybe somebody else can help?

[2021-04-12 15:09] flybayer opened #437 "Light mode setting does not take effect on page load"
1. Set light mode on the docs
1. Open blitzjs.com in new tab
1. See that dark mode is shown, even thought dark mode toggle is set to light mode

This used to work, so not sure why it's not now. We use https://github.com/pacocoursey/next-themes, so maybe upgrading that is enough? Or maybe we need to adjust our settings with how we use that.

[2021-04-12 15:13] flybayer opened #438 "Add documentation page on self hosting Blitz"
Self hosting blitz is easy, run `blitz build` and `blitz start`, but we don't have a page on this under our "Deploying to Production" section, so people don't know it's possible.

[2021-04-12 16:31] flybayer commented on #436
Ok yeah, that's fine to just fix the first too

[2021-04-12 21:11] laubonghaudoi commented on #436
@flybayer Just made a PR https://github.com/blitz-js/blitzjs.com/pull/439, but the lint check seems failing. I am not sure which part of it is wrong.

[2021-04-12 23:47] JuanM04 commented on #437
It seems like ThemeProvider doesn't update. Weird

[2021-04-12 23:49] JuanM04 commented on #437
May be related to this: https://github.com/pacocoursey/next-themes/issues/40

[2021-04-13 07:46] sean-brydon opened #440 "Minor discrepancy in the session management docs"
In the Session Management Docs specifically  [Here](https://blitzjs.com/docs/session-management#customize-session-public-data-in-typescript). The examples is showing

[code]
Then the example of the session being created uses a Role value of 'admin'

This is just a minor issue and would happily have this assigned to myself if this needs fixing

[2021-04-13 14:41] flybayer commented on #440
Thanks, you can definitely fix that!

[2021-04-13 18:55] sean-brydon opened #442 "Light/Dark mode toggle not keeping state"
If you have a system preference of dark mode change the toggle to light and refresh the toggle stays in light mode but the theme is reverted back to being dark.

I'm not sure if this is an issue with next-themes or the current setup for toggling darkmode.

However looking at the code and taking a look to see if there was any cookies being used to save the users preference. It appears the cookie `d

[2021-04-13 18:59] sean-brydon commented on #442
Just realised this is a duplicate of #437 Closing

[2021-04-13 18:59] #442 closed

[2021-04-13 19:28] #440 closed

[2021-04-15 07:52] sean-brydon commented on #154
After our talk on discord - Could this be assigned to me please :)

[2021-04-15 07:57] abuuzayr commented on #154
absolutely! thank you @sean-brydon

[2021-04-17 16:54] antonykamp opened #448 ""How to read the docs" section"
hey,

It would be cool to have a kind of "How to read the docs" section somewhere :)

As a starter (as well as an advanced user) you could find your way to the right section based on questions. A simple example:
- How do I maintain the database? -> "Database"
- How do I use the database? ->"Queries & Mutations"

This may be related to #170 and the [Getting Started with Blitz - Learning](https://bl

[2021-04-17 20:27] flybayer commented on #448
I think https://github.com/blitz-js/blitzjs.com/pull/446 maybe will address this?

[2021-04-18 10:07] antonykamp commented on #448
Ah. I thought this page would be a "tutorial" on _developing applications_ in general and how blitzjs helps the user on this path :)

[2021-04-24 18:13] Skn0tt commented on #448
The Learning Path is meant as a starting for learning about things related to building Applications with Blitz, that's not immediately part of Blitz.

What you're asking for sounds more like a big directory of questions, and links to answers. That's a good idea, but different from the Learning Path.

[2021-04-29 21:23] sean-brydon commented on #154
I have a basic version in my local development branch but being swamped with uni work atm - happy to pick this up once I'm finished :)

[2021-04-30 15:18] flybayer commented on #154
@sean-brydon want to push up a draft PR? Then maybe someone else can finish it if they want

[2021-05-05 17:10] Hardik3296 opened #463 "Dark mode text not changing on toggling theme"
When we click on toggle button for changing the theme on the website, the theme changes but the text in both cases always reads **Dark**,  signifying dark mode is applied, which might be confusing.

<img width="342" alt="Text-in-dark-mode" src="https://user-images.githubusercontent.com/20360325/117180855-40748100-adf2-11eb-9383-df310a7658cf.png">

**Text in Dark Mode**

<img width="331" alt="Scree

[2021-05-05 17:11] Hardik3296 commented on #463
I will like to make this change to the site if it is ok with you. Would be my first contribution.

[2021-05-06 15:14] flybayer commented on #463
@Hardik3296 yes please! :)

[2021-05-08 02:24] acornellier opened #466 "react-query default options"
There doesn't seem to be a way to set default options for `react-query`.
For example, `staleTime` or `suspense`, would be very useful.

[2021-05-08 02:25] #466 closed

[2021-05-10 19:43] #463 closed

[2021-05-11 01:50] Roesh opened #470 "Improve site performance"
Brandon used lightouse and found that we could improve performance:

https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fblitzjs.com

[app/pages/index](https://github.com/blitz-js/blitzjs.com/blob/e6f46efd1502e8c98c137c69cf7fac4653466a5d/app/pages/index.js#L227) loads several github avatars using a plain img tag. In order to use an Image component, we need to add the domain

[2021-05-11 02:23] Roesh commented on #470
@dawnofmidnight pointed out that the [Sponsor links](https://github.com/blitz-js/blitzjs.com/blob/287b7ba2943f570971a480d3c59b8de3edc65d90/app/core/components/SponsorPack.js) also were not optimized for image loading

[code]

[2021-05-11 16:29] MrLeebo commented on #470
@Roesh You mischaracterized what I said on Discord. I was taking the opposite position; I don't think converting avatar.githubusercontent.com content to `<Image />` would be beneficial. I suspect that github already has a process to host, transform, and cache those avatar pictures at scale. If I'm wrong, you could proxy the requests so that you wouldn't have to whitelist their CDNs, but I would be

[2021-05-11 19:52] JuanM04 commented on #470
@MrLeebo `<Image />` serves .webp and lower resolutions... right?

[2021-05-11 21:55] Roesh commented on #470
@MrLeebo sorry, I made a typo. Fixed the comment.

@JuanM04 I wasn't really able to test the performance improvement of the change I made, so I'll push just the one with the img tags but loaded lazily, and see how the lighthouse report changes.

I also wanted to replace the background urls one with `<Image />` but I don't know enough CSS to do that - the images are squashed and misshaped. If someo

[2021-05-15 12:42] #470 closed

[2021-05-15 13:38] Roesh commented on #470
Just a note that the background urls are still not optimized, so if someone wants to they can open a new issue and optimize that. The images are being served at a pretty large resolution, but we are displaying only like 60px.

[2021-05-16 17:28] Hardik3296 commented on #438
Hi @flybayer, if this issue is still maybe can I take it up. Also just wanted to know where exactly you want this change in architecture.md file in blitz repo? [Deployment-agnostic-architecture.md](https://github.com/blitz-js/blitz/blob/canary/rfc-docs/01-architecture.md#11-deployment-agnostic)

[2021-05-16 22:49] JuanM04 commented on #438
Hi @Hardik3296. As far as I know, nobody is working on it, so you can give it a try. I think you should make a page like `self-hosting.mdx` and put it in "Deploy to Production".

If you want, you can also add info about using Docker (check this out: https://github.com/LoriKarikari/blitz-docker)

[2021-05-17 21:17] flybayer commented on #438
@Hardik3296 the new file will go in this repo here: https://github.com/blitz-js/blitzjs.com/tree/main/app/pages/docs

[2021-05-18 01:12] Mvrs commented on #324
was wondering if you're converting the files to TypeScript how are you splitting what needs to be done first? @abuuzayr

[2021-05-18 02:21] abuuzayr commented on #324
thanks @Mvrs would there be any issue if we started anywhere in particular? Sorry, I'm not a well-versed Typescript user..

Probably if there are common/shared types we will need to declare them somewhere first?

[2021-05-18 02:43] Mvrs commented on #324
@abuuzayr I think first making sure the config files down to the lint tools support ts, tsx file types. Looking at the files that share common types, hooks, and etc.

[2021-05-18 02:59] abuuzayr commented on #324
ah, i get what you mean. when this issue was created, TS was set up but as of this commit 1f9d0935a1795114c5aea6dde081c72a6fa0d516 they were removed.

so yup you are right, we will have to set it all up again if we wish to use TS.

[2021-05-18 04:00] Mvrs commented on #324
Interesting... I wonder why the reason to move away from TypeScript before.

[2021-05-19 14:43] flybayer commented on #324
@JuanM04 why did you remove tsconfig awhile back?

[2021-05-19 14:47] JuanM04 commented on #324
@flybayer because it wasn't being used. I changed it for a jsconfig knowing that we could recover it with Git

[2021-05-30 11:45] Hardik3296 commented on #438
![image](https://user-images.githubusercontent.com/20360325/120102758-397b2d00-c16a-11eb-8149-4e71eb395a70.png)

Getting this error while trying to run the dev script. I checked the blitz.config.js, the domains are all mentioned there

![image](https://user-images.githubusercontent.com/20360325/120102796-60396380-c16a-11eb-94d3-3c1582c42746.png)

On every try the error is same but the hostname kee

[2021-05-30 15:33] JuanM04 commented on #438
@Hardik3296 try syncing your fork with the original repo

[2021-05-30 17:43] Hardik3296 commented on #438
I tried that but even after syncing I was getting the same error. I will try to clone again once in local. Maybe that may resolve it.

[2021-06-29 19:23] rabbihossain commented on #154
Anyone working on it? I think i can help.

[2021-06-30 01:47] Roesh commented on #438
@Hardik3296 I think this is fixed now in the main Blitz repo, but not sure if the cahgne is in blitzjs.com as yet, so you can try again. Pushing the commit also allows you to view the app in the preview deployment.

Im also wondering if it may make sense to recommend that people with smaller a VPS build the app on their own PC, FTP the output to the server, and run and server specific commands lik

[2021-06-30 02:14] abuuzayr commented on #154
@rabbihossain please go ahead! i'd wanted to do this for the longest time but never got a chance to. Let us know if you need anything.

[2021-06-30 19:27] rabbihossain commented on #154
Here is a basic idea of the page I am thinking of. Anyone has any idea? Should I make e PR or anything you want to add on this page? Also, anyone please share all the sites that is made with Blitz. So that I can add a bunch of website before making a PR.

https://user-images.githubusercontent.com/4346154/124019588-0d71f680-da0b-11eb-9fba-6b34d0fc2c9f.mp4

[2021-07-01 02:24] abuuzayr commented on #154
@rabbihossain this looks good as a start! what happens when you click?

here is a list of apps built with blitz: https://github.com/blitz-js/blitz/wiki#-made-with-blitz-include-link-to-repo-if-open-source

i think you got the layout done:

- [x] a new layout
- [ ] a top level page, probably pages/showcase?
- [ ] page should be .mdx so its easy for anyone to add their app, with these to begin with

[2021-07-01 07:54] rabbihossain commented on #154
@abuuzayr  Currently it doesn't do anything when you click. My plan is to open that website when you click.

It is a top level page . But it is not `.mdx` but I have added an extra config js file where anyone can add their website without changing any of the jsx or component codes.

Also thanks for the list of websites. I think I can take screenshots and add these websites. After that make a PR wi

[2021-07-01 08:37] abuuzayr commented on #154
thanks @rabbihossain! you can open the PR as a draft first, easier for anyone to see and make comments if they need to

it might be good to also allow some space for a description of the app/website either in your grid or in a modal popup, so visitors will have a rough idea of what the app is about before deciding to click. what do you think?

[2021-07-01 18:13] rabbihossain commented on #154
@abuuzayr  I have created a Pull Request. Anyone can test that page on `/showcase` page after `yarn dev`.

Currently when you click on a thumbnail, it will open a popup. On that popup, if you click on image or title text it will open that website in a new browser tab.

Here is a screen recording of it.

https://user-images.githubusercontent.com/4346154/124171275-2a213380-daca-11eb-83e9-98191d26b42

[2021-07-03 08:58] abuuzayr commented on #154
Looks awesome. lets ship it! i think we can make modifications later.. cant wait to see the page!

[2021-07-03 17:48] flybayer commented on #438
I think there may be a node flag or option we can set to limit the memory the process will use?

[2021-07-05 21:03] mdouglasbrett opened #512 "Make SponsorPack images smaller or use <Image />"
Hi there! This is just a heads up: I ran a lighthouse test against blitzjs.com (👏  👏 ), and image referenced below is coming in at just under 2Mb 👇, must've slipped through the net
https://github.com/blitz-js/blitzjs.com/blob/240b15e59c333668998a92b2082a0a99fa2767ad/app/core/components/SponsorPack.js#L41

All the best, Mike

[2021-07-05 21:24] JuanM04 commented on #154
@rabbihossain Wow! It's amazing!

[2021-07-06 01:32] jackbravo opened #514 "Is single threading a tradeoff of NextJS or NodeJS"
On https://github.com/blitz-js/blitzjs.com/blob/main/app/pages/docs/tradeoffs.mdx its stated that a single threaded server is:

But I've read that this tradeoff is generic to NodeJS event loop model. Which is which?

This doesn't mean that spawning background processes isn't still valid.

[2021-07-06 12:45] JuanM04 commented on #512
Good catch. We should change that to use `<Image />`

[2021-07-07 18:41] flybayer commented on #514
@jackbravo yes, good point! It is a Node thing. Want to PR a fix for that?

[2021-07-22 15:30] #154 closed

[2021-08-02 10:57] chikamichi opened #532 "Update the official tutorial with initial db migration #2621"
### What do you want and why?

Hi. Following along the [official tutorial](https://blitzjs.com/docs/tutorial#sign-up-as-a-user), I stumbled upon an "error" where the User table would be missing, preventing from signing up.

I figured it out easily: one must run `blitz prisma migrate dev`.

### Possible implementation(s)

Before the _Sign up as a user_ section, add another section "explaining" the

[2021-08-03 16:34] flybayer commented on #532
Thanks @chikamichi — certainly we can improve the tutorial here.

As for the migration command, you do not need to run that command unless something fails during new app setup. Because we automatically run that command during `blitz new`. If this step fails for some reason, this command will be listed in the next steps result of `blitz new`. But this could be added as a "troubleshooting" item in t

[2021-08-03 18:14] chikamichi commented on #532
Oh!

I overlooked the "Next steps:" section, and when generating a new app, the _Initializing SQLite database_ step is failing indeed.

More accurately: I followed along [the tutorial](https://blitzjs.com/docs/tutorial), abiding by the textbook therefore running only those commands the tutorial is highlighting. Hence I didn't pay too much attention to the actual console output.

I could create a P

[2021-08-03 18:16] chikamichi commented on #532
As for the error, how could I find what's going wrong? It fails consistently at creating the SQLite DB when running `blitz new`.
Should I open an issue on https://github.com/blitz-js/blitz/issues?

[2021-08-04 20:06] flybayer commented on #532
Yeah that would be good. Essentially what we are doing is running during blitz new is running `blitz prisma migrate dev --name "Initial migration"`

[2021-08-18 17:57] damilolarandolph opened #540 "Dead link in session managment docs."
The link in the "Customize Session Persistence & Database Access" section of session management docs is dead. It is meant to be a reference to the default session config that works with Prisma but leads to 404 on GitHub.

[2021-08-19 20:48] #540 closed

[2021-08-22 16:56] #514 closed

[2021-08-22 16:56] JuanM04 commented on #514
Closed by #542

[2021-08-31 16:30] arslancharyev31 opened #546 "Update docs with cascading deletes from Prisma"
Good day.

I've been following the Blitz tutorial and so far it has been a great experience. However I noticed some outdated info in the docs that I believe is worth mentioning. The section about [`deleteQuestion` mutation][1] states that:

However since version [2.26.0][2] Prisma does support cascading deletes via [Referential actions][3]. The caveat is that it is a **Preview feature**. But then

[2021-09-01 15:57] flybayer commented on #546
We are getting close to 1.0, so let's leave it as is until it's stable. But we can go ahead and add a note mentioning the preview feature!

[2021-09-01 16:03] arslancharyev31 commented on #546
I understand. But what about the usage of alpha version of React and its experimental Suspense feature? Are they going to make it into the 1.0?

[2021-09-16 23:50] ajwgeek opened #548 "Update useQuery docs with info on useErrorBoundary option"
Hello,

I noticed that the [useQuery documentation](https://blitzjs.com/docs/use-query#options) includes few details about the `useErrorBoundary` option. I thought this could be confusing for someone unfamiliar with React Query.

Specifically, the option is included in the function signature, but there is no information about it below.

The [useMutation docs](https://blitzjs.com/docs/use-mutation#

[2021-09-20 22:56] flybayer commented on #546
@arslancharyev31 sorry for the delay here! Since we are nearing 1.0, we are trying to minimize experimental things. React alpha is the only pre-stable thing we have now. React alpha is being used at facebook and the suspense feature we are using is extremely stable (within alpha). Does this make sense?

[2021-09-28 17:50] beerose opened #556 "Add architecture diagram to `Client and Server` docs page"
[This PR](https://github.com/blitz-js/blitzjs.com/pull/555) added a new page to the docs on Client vs Server and what's executed where. It would be nice to include an architectural diagram as well — the same as we have on [the landing page](https://blitzjs.com/). More context here: https://github.com/blitz-js/blitzjs.com/pull/555#issue-1009856008.

[2021-09-30 18:17] beerose commented on #556
Hey! Could I ask what's the reason behind closing it? 😅 I'm totally fine if you think it was a bad idea, but just curious.

[2021-09-30 19:39] JuanM04 commented on #556
Oh, sorry. I thought this issue was solved by that PR. My bad

[2021-09-30 20:14] JuanM04 commented on #556
What do you think about this? I did it a bit more vertical, but it may not be ideal

![light](https://user-images.githubusercontent.com/16712703/135523982-7f67c860-b574-42e6-a460-90d90b2466ee.png)
![dark](https://user-images.githubusercontent.com/16712703/135524047-e5e7f528-87ba-4545-ae9c-eb0750a7a58d.png)

[2021-09-30 22:13] bcye opened #558 "Copying code copies +/- too although they aren't highlighted."
I was just going through the tutorial and noticed when copying the code it copies the +/- too although they are not highlighte
d.

<img width="693" alt="Screenshot" src="https://user-images.githubusercontent.com/29666239/135536791-3624fa73-8e28-435c-9793-df88ecd74478.png">

this copies:
[code]

I'm using Safari 15.0 on macOS Monterey.

[2021-09-30 23:28] flybayer commented on #558
thank you!

[2021-09-30 23:44] #548 closed

[2021-09-30 23:51] JuanM04 commented on #558
I can't replicate in Brave. Maybe it's a problem of Safari

[2021-10-01 06:31] beerose commented on #556
Cool! Nice idea with a vertical approach.

[2021-10-01 15:32] bcye commented on #558
Weird just tried in Brave and the problem exists there too.

[2021-10-01 16:10] bcye commented on #558
I did some research and it seems to be caused by this [webkit issue](https://bugs.webkit.org/show_bug.cgi?id=80159), where `-webkit-user-select: none` doesn't select the text, but copies it if your selection starts before it and ends after it.

I tried it on Chrome and the problem doesn't exist there, though it does in Brave...

[2021-10-01 16:20] bcye commented on #558
I found [this workaround](https://stackoverflow.com/a/43206727/8126260) but this leads to the text being selected but not copied.

[2021-10-01 19:46] JuanM04 commented on #558
It must be, the code generated by Tailwind contains the webkit flag:

[code]

[2021-10-01 19:50] JuanM04 commented on #556
Added in e546e7242e62654aad0ca82599c19a16564bdaf8

[2021-10-02 09:45] beerose commented on #556
🎉

[2021-10-02 09:45] #556 closed

[2021-10-11 14:56] beerose opened #570 "Bad contrast for links in notes sections in dark mode"
It's a little difficult to read. We could change it to Blitz's purple colour.

<img width="735" alt="Screenshot 2021-10-11 at 16 55 29" src="https://user-images.githubusercontent.com/9019397/136811787-05d0245e-5686-42ad-b0c2-de4808792ade.png">

[2021-10-11 18:03] harshndroid commented on #570
Can i get assigned to it @beerose ?

[2021-10-12 21:17] #570 closed, assigned to MuckHub

[2021-10-14 00:10] shawn-fetanat opened #572 "`bliz new` not recognizing the correct currently installed version `blitz@0.41.1`"
I installed blitz with `yarn global add blitz@latest` and after it finished installing it said `success installed blitz@0.41.1`. Then I ran `blitz new myBlitzTemplate` and then it says `"your global version of blitz is outdated"`. That doesn't make any sense. It just said I successfully finished installing the latest version which is `blitz@0.41.1`. I'm confused am I doing something wrong here. I

[2021-10-16 12:58] Roesh commented on #248
Just saw this when I was looking to make sure we didnt have an issue open for adding typescript config changes to the docs.

The prettier configuration mentioned in the title is complete, but @flybayer let me know if there needs to be a separate "Creating a new app" page still.

[2021-10-16 12:58] #248 closed

[2021-10-16 13:34] roshan-sama opened #576 "Add documentation page on typescript configuration"
The docs mention the usage of typescript in different locations such as in css modules, but we dont have an explicit page describing how typescript is configured and how to modify that configuration.

- [ ] Add link under configuration, below the blitz.config.js [link](https://blitzjs.com/docs/blitz-config)
- [ ] Describe what typescript is
- [ ] Describe how Blitz configures typescript by default

[2021-10-19 15:15] flybayer opened #579 "Add docs for using debuggers"
We need to copy content from https://nextjs.org/docs/advanced-features/debugging and add it to https://blitzjs.com/docs/troubleshooting (tweaking wording as needed to apply to Blitz)

[2021-10-20 04:22] sitek94 commented on #579
Hey there 👋  I've just opened a PR with request changes :)

[2021-10-20 19:26] #579 closed, assigned to sitek94

[2021-10-22 11:25] beerose opened #587 "Document that session is auto refreshed if 1/4 of the expiry time passed"
Related message: https://discord.com/channels/802917734999523368/812760521572089857/893263246004465685

[2021-10-25 10:01] beerose opened #588 "Add docs on persistent layouts and layouts in general"
Related discussion: https://github.com/blitz-js/blitz/discussions/2866#discussioncomment-1517018

[2021-10-30 13:58] abuuzayr opened #591 "`export const` in the mdx is being replaced with `const`"
As the title describes, we have text in the documentation that I believe is being replaced unintentionally.

![Screen Shot 2021-10-30 at 8 28 28 PM](https://user-images.githubusercontent.com/19371989/139534992-b63114ca-6b61-4c45-af0d-ccea89f0acd3.png)

This might cause issues for those of us who are following the Tutorial and might not get the expected results.

The screenshot above is from `app/p

[2021-10-30 14:30] abuuzayr commented on #591
cc @andrearizzello

[2021-10-30 18:40] #591 closed

[2021-11-03 14:02] beerose opened #594 "Move mention of `blitz console` after updating generated code in the tutorial"
We should probably move `Playing with the Prisma database client` after the `Update generated code for our model attributes` in the tutorial, as `blitz console` fails before updating the generated code.

Related discussion: https://discord.com/channels/802917734999523368/870041934046060615/905449030073602128

[2021-11-10 12:37] #594 closed

[2021-11-10 12:58] 5minpause commented on #437
I just tried it and couldn't reproduce the behaviour mentioned by @flybayer in https://github.com/blitz-js/blitzjs.com/issues/437#issue-856076141.
I believe #485 fixed it and this issue can be closed, @JuanM04 .

[2021-11-10 13:00] #437 closed

[2021-11-11 01:42] yume-chan commented on #546
Blitz now defaults to Prisma 3 (blitz-js/blitz#2731) and Referential actions has been out of preview.

Mandatory relations (the `Token` model) now defaults to `ON DELETE RESTRICT`, so `@relation(..., onDelete: Cascade)` is required for cascade deletes.

There are also several places not updated to say Prisma 3

https://github.com/blitz-js/blitzjs.com/blob/49fac464346fcb0ae9420161c65c4f1738bb3e1b/a

[2021-11-11 10:58] #587 closed

[2021-11-14 22:45] JuanM04 commented on #546
Maybe we can change the Tutorial — instead of adding a new DELETE, we can make the users update the Prisma schema.

Fixed by a9dc52e

[2021-11-16 23:54] #512 closed

[2021-11-16 23:57] JuanM04 commented on #90
Closed by #590

[2021-11-16 23:57] #90 closed

[2021-11-17 06:25] exKAZUu opened #606 "`createQuestionSchema` seems not working (tutorial)"
### What is the problem?

The tutorial shows the following code, but client validation seems not working.

[code]

For example, if we change the definition of `CreateQuestion` as follows:

[code]

I expect we cannot enter a non-email string in a question text, but we can do and we will get the following error from a SERVER (not a client).

![image](https://user-images.githubusercontent.com/436237/

[2021-11-17 12:05] exKAZUu commented on #606
Thank you for the explanation, I understand :bow:
I also feel it's good to mention about import statements for `mutations/` or `queries/` in the tutorial.

[2021-11-17 12:08] beerose commented on #606
Yeah, we can definitely mention it!

[2021-11-17 19:04] JuanM04 commented on #606
@exKAZUu I added a mention here 38044d2. If that solves it, feel free to close this issue

[2021-11-17 19:05] JuanM04 commented on #436
It seems that the third issue was fixed. Also, I added a mention to the full file structure explanation (1b54383). I'll close this issue, but feel free to re-open it

[2021-11-17 19:05] #436 closed

[2021-11-23 17:45] Yael95 opened #610 "Azure Compatibility"
I intend on using blitzjs for a Dapp for a media organization, but I wanted to know if blitzjs can be dockerized and deployed on azure?

[2021-11-24 11:50] beerose opened #613 "Add "Background Knowledge" or learning resources to getting started tutorial"
Using Blitz (and going through the getting started tutorial) assumes some initial knowledge like typescript, react, nextjs, react-query. For people coming from Ruby on Rails or other non-js/non-react frameworks, that can be a lot to take in. I think Gatsby had the same problem, and they (in my opinion) solved it nicely by including a lot of learning resources in their tutorial. For example, in the

[2021-11-24 13:18] beerose opened #614 "document secureCookies flag"
Related discussion: https://github.com/blitz-js/blitz/issues/2838#issuecomment-970852915

[2021-11-24 13:20] beerose commented on #614
Assigned to @divpreet

[2021-11-27 13:00] #606 closed

[2021-12-03 22:05] beerose commented on #614
Closed via https://github.com/blitz-js/blitzjs.com/pull/620

[2021-12-03 22:05] #614 closed

[2021-12-09 21:35] refactor-this commented on #240
Any update on this? I spent the better part of all day today trying to figure it out 😅

[2021-12-13 09:52] MartinMuzatko opened #628 "Broken Links"
Hi there!

I found a few broken links in the documentation. I think most of the missing `.md`  urls just come from automated documentation.
However, there are also a few urls to missing pages.

https://blitzjs.com/docs/get-static-paths links to https://blitzjs.com/docs/routing/dynamic-routes.md
https://blitzjs.com/docs/router links to https://blitzjs.com/docs/basic-features/data-fetching.md
https:

[2021-12-13 10:55] beerose commented on #628
Thanks for creating the issue!

[2021-12-21 21:45] arpitdalal opened #639 "Typo in blitz-pivot page"
Found a typo on `blitz-pivot` page. In the opening section, last line, it should say `Blitz toolkit` but instead it says `Blitz tookit`.

## Expected behavior
`Blitz toolkit`

## Actual behavior
`Blitz tookit`

[2021-12-21 22:18] #639 closed

[2021-12-31 07:39] mochi-sann opened #644 "dog page Searcher Modal title bug"
![_ErrorBoundary__Component_-_Blitz_js_-_Vivaldi-2](https://user-images.githubusercontent.com/44772513/147810135-6780727e-49e9-44f3-9225-f2bddb60cb49.png)
Probably "&gt;" is displayed where "<" or ">" should be displayed.

[2022-01-01 00:58] #644 closed

[2022-01-06 15:12] beerose opened #647 "Remove isomorphicResolverImports from docs"
Related discussion: https://github.com/blitz-js/blitz/discussions/3107

[2022-01-26 23:01] bcye opened #662 "Better documentation of the features offered by blitz auth"

[2022-02-02 16:00] Fecony opened #655 "Overflowing example"
While reading docs I have noticed that [Pages](https://blitzjs.com/docs/pages) section has page example that overflows.

![image](https://user-images.githubusercontent.com/36774784/152189666-97863c5a-e63c-49f2-9dd5-54c99c917856.png)

[2022-02-12 17:00] taylor-lindores-reeves opened #658 "Add instructions for deploying on Digital Ocean VPS"
Would like some instructions on using this on  Ubuntu 20.04 Droplet with NodeJs. Struggling to get this live. After running `yarn build` (which seems to be killed midway through) and then `yarn start` in production environment, I keep getting this error:

`Could not find a production build in the '/var/www/example.com/.next' directory. Try building your app with 'next build' before starting the pr

[2022-02-20 11:10] vincro commented on #658
What droplet size are you trying to use?  Might be worth trying temporarily on something with more memory.

[2022-02-20 12:19] leafyshark commented on #658
Funnily enough, I was using the most basic droplet. So I've resized the droplet to a more reasonable size and now I've rebuilt using yarn build and it worked! So thank you.

However, and maybe you can help me here - every time I use yarn build (`blitz build`) it seems to do a heap of logging before just simply displaying the build output (as it would with `next build`). See [this image](https://im

[2022-02-21 16:41] chrisj-back2work opened #661 "How to submit PRs? Vercel build issue"
I'm attempting to submit a doco PR.

I forked this repo; made my changes; pushed my change and created a PR.

The process fails on the Vercel deploy step. The only details provided are a 404 page.

Does my Github account need certain Vercel capabilities to submit a PR?

[2022-02-22 11:30] beerose commented on #661
Hey, I'll reply in the PR itself :)

[2022-02-22 11:30] #661 closed

[2022-02-25 00:20] #655 closed

[2022-03-20 19:10] chrisj-back2work opened #669 "How to view the equivalent SQL for query or mutation?"
Prisma docs suggest a few ways to log / debug the SQL that Prisma generates.

This would be useful while using the Blitz console, and with the dev server.

https://www.prisma.io/docs/concepts/components/prisma-client/debugging
`export DEBUG="prisma:client`
to get debug info -- this doesn't seem to do anything in the Blitz console

https://www.prisma.io/docs/concepts/components/prisma-client/workin

[2022-03-20 19:53] chrisj-back2work commented on #669
I'll answer my own question.

Change the Blitz-generated `db/index.ts`:

[code]

That enables minor logging. Then within the Blitz console:

[code]

The `e.query` element is the generated SQL.

Obviously you can customize the`$on` callback.

[2022-03-20 19:53] #669 closed

[2022-04-25 12:41] mochi-sann opened #676 "When the width of a web page is 1024px ~ 1300px, the text color and background color are the same, making it hard to read."
https://user-images.githubusercontent.com/44772513/165090549-ba354b7c-421e-4d55-a68e-f1bb20c27d2f.mov

When I open https://blitzjs.com as shown in the video and the width of the web site is between 1024px and 1300px, the text color and background color are the same and very difficult to read.

[2022-04-27 12:12] beerose commented on #676
That's weird 😅 thanks for reporting

[2022-07-19 19:30] SerekKiri opened #707 "Correct but not working anymore url on code of conduct page"
Hey! After reading [code of conduct](https://blitzjs.com/docs/code-of-conduct) I clicked on the hood.ie link at the bottom of the page and it looks like someone either forgot or just stopped paying for that domain. Currently the domain is for sell but I would recommend replacing this domain with a link to [github repo](https://github.com/hoodiehq/hoodie). It's inactive for over 2 years but I guess

[2022-07-20 06:12] #707 closed

[2022-07-27 16:38] sherryxiao1988 opened #713 "Wanted to send a pull request to update the doc, but permission denied"
Getting:
[code]

Is there anyway for me to contribute?

Thanks.
Shundan

[2022-07-27 16:56] #713 closed

[2022-08-18 04:42] Himanxu1 commented on #676
I cannot find this issue in my computer

[2022-08-24 13:57] tmcw opened #773 "Documentation request: interacting with API endpoints"
### What do you want and why?

My application uses mutations and queries for part of its operations, and API endpoints for other parts - where I'm dealing with a library like Replicache with its own assumptions / preferences about how requests work.

Doing this is not very obvious, and I've been able to get it to work, but it involves stuff like attaching the anti-csrf token yourself to your reque

[2022-09-01 11:40] kensan73 opened #752 "Add a restart blitz after 2 data migrations in tutorial steps"
When I arrived at this step in the tutorial

'Now try creating, updating, and deleting questions

Great! Now make sure your app is running. If it isn’t, run blitz dev in your terminal, and visit localhost:3000/questions. Try creating questions, editing, and deleting them.'

I received a 500, undefined count when visiting localhost:3000/questions.

I was able to continue with the tutorial after res

[2022-09-01 12:11] kensan73 opened #753 "Add a restart blitz after adding choices display in tutorial"
Hello,

After following the tutorial I got to this step

Now hop back to our main questions page (pages/questions/index.tsx)in your editor, and we can list the choices of each question. And add this code beneath the Link in our QuestionsList:

and added the code.  I got another error about undefined count I believe (even though compilation was successful in the console) but after restarting blitz

[2022-09-01 12:25] kensan73 opened #754 "Following the blitz tutorial at this step the code is different"
At this step it says to delete this line

![image](https://user-images.githubusercontent.com/10583935/187913052-cd6cd30a-1124-48f5-b22a-95b78a0b4642.png)

but I think at this step it should look like

![image](https://user-images.githubusercontent.com/10583935/187913145-de77aa99-68d9-4f0c-842c-dd471314a912.png)

[2022-09-05 14:36] kensan73 commented on #676
I cannot reproduce either

[2022-09-08 09:52] scisteffan opened #756 "Homepage - on mobile view - sponsors section does not shrink down"
On the homepage, the sponsors section does not shrink down

![Screenshot 2022-09-08 at 10 52 14](https://user-images.githubusercontent.com/2676185/189092420-1abb4875-2769-457f-b8c2-19b2161000d5.png)

[2022-09-15 07:01] mochi-sann commented on #676
I'm closing this Issue because the problem was resolved.

[2022-09-15 07:01] #676 closed

[2022-09-15 15:01] beerose commented on #754
I believe that the tutorial code is correct because our generator creates the `name` property.
Here's the source: https://github.com/blitz-js/blitz/blob/main/packages/generator/templates/mutations/update__ModelName__.ts#L7

[2022-09-20 09:26] beerose opened #762 "Change headings in the left side bar"
Part of https://github.com/blitz-js/blitz/issues/3828.

@blitzjs/auth -> Blitz Auth, etc.

[2022-09-20 09:27] beerose opened #763 "Improve Blitz Auth docs"
Part of https://github.com/blitz-js/blitz/issues/3828

Go over each page and see how it can be improved:
- Is there a guide?
- Is the API covered?
- Make sure that the information is correct and up to date with the Blitz 2.0

[2022-09-20 09:27] beerose opened #764 "Improve Blitz RPC docs"
Part of https://github.com/blitz-js/blitz/issues/3828

[2022-09-20 09:28] beerose opened #765 "Improve Blitz Next docs"
Part of https://github.com/blitz-js/blitz/issues/3828

Go over each page and see how it can be improved:
- Is there a guide?
- Is the API covered?
- Make sure that the information is correct and up to date with the Blitz 2.0

[2022-09-20 09:29] beerose opened #766 "Improve `Basics` section in the docs"
Part of https://github.com/blitz-js/blitz/issues/3828

Go over each page and see how it can be improved:
- Is there a guide?
- Is the API covered?
- Make sure that the information is correct and up to date with the Blitz 2.0

[2022-09-20 09:29] beerose opened #767 "Improve CLI docs"
Part of https://github.com/blitz-js/blitz/issues/3828

Go over each page and see how it can be improved:
- Is there a guide?
- Is the API covered?
- Make sure that the information is correct and up to date with the Blitz 2.0

[2022-09-20 09:30] beerose opened #768 "Add missing items to the docs"
Part of https://github.com/blitz-js/blitz/issues/3828

- Custom server
- Monorepos
- ?

[2022-10-01 11:16] #588 closed

[2022-10-01 11:17] #613 closed

[2022-10-01 16:53] yesimhozman commented on #756
hello, I would like to work on this issue.

[2022-10-01 17:02] corydeppen commented on #628
The persisting layouts link is the only one that appears to be broken at the moment, but I was wondering whether some of these are still valid based on the [documentation.json](https://github.com/blitz-js/blitzjs.com/blob/main/app/core/navs/documentation.json) file. Are files in `/pages/docs` valid if they're not in that file, or does that file need to be updated to account for files in the docs d

[2022-10-03 03:03] beerose commented on #628
@corydeppen, yeah, we removed a bunch of pages from our docs after moving to Blitz 2.0. They were redundant as it was mostly the same stuff as you can find in the official Next.js docs. Though, we didn't remove the markdown files from the repo (which is something we should do soon)

[2022-10-03 03:04] beerose commented on #756
Go ahead @yesimhozman :)

[2022-10-03 12:48] beerose opened #775 "Remove old Next.js pages from the docs"

[2022-10-04 07:17] #752 closed

[2022-10-04 09:14] estevanjantsk commented on #647
I will work on this one.

[2022-10-04 10:16] #647 closed

[2022-10-05 15:18] estevanjantsk commented on #754
@beerose I didn't understand this one, could you clarify, please? As you said, the generator creates with name (but this is expected) the tutorial has a step [before](https://github.com/blitz-js/blitzjs.com/blob/main/app/pages/docs/tutorial.mdx#updatechoice-mutation-update-choice-mutation ) that changes the name to text so this is expected and when it reaches [this](https://github.com/blitz-js/bli

[2022-10-07 07:20] yesimhozman commented on #756
hi there! I ujst check the blitz.js in mobile. The sponsor section looks like this: Which screen sizes do you recognized this issue?
![image](https://user-images.githubusercontent.com/79595465/194495294-9dce50db-4960-4e15-9ca2-83722d31b152.png)

[2022-10-07 09:07] beerose commented on #756
I think you should try different resolutions with the responsive mode in your browser's dev tools. I just checked it out at this is an example:

<img width="787" alt="Screenshot 2022-10-07 at 17 07 33" src="https://user-images.githubusercontent.com/9019397/194517246-228f21e2-8072-43b8-be36-d8ad0d39ab7d.png">

[2022-10-07 09:59] yesimhozman commented on #756
Hi, I choosed iphone 11 size in devtool and test it in my phone, it was different. Then I refresh the devtool, it was okay. When you refresh the page, after the typing 581x793, it will be:
![image](https://user-images.githubusercontent.com/79595465/194527705-21ea5c3a-4cc1-4851-a417-612652cd3516.png)

[2022-10-07 10:40] yesimhozman commented on #756
Here is the alert message from Firefox devtool ![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/79595465/194535133-46d4246c-fdca-4cea-bb55-72e8336cf0e0.png)

[2022-10-07 21:22] hazardemircan commented on #756
@beerose i can help with that if issue still avaliable

[2022-10-17 06:59] beerose commented on #754
Yes, you're right. Sorry for the confusion. Closing the issue

[2022-10-17 06:59] #754 closed

[2022-10-18 07:17] #775 closed

[2022-10-21 19:34] joneskj55 commented on #753
I'll take this issue if still up for grabs. @beerose

[2022-10-22 03:20] beerose commented on #753
Yes! Go ahead @joneskj55

[2022-10-25 10:38] #753 closed